<div class="container">
    <header class="header">
		<div class="header__wrapper">
			<div class="header__logo logo">
			<a href="/" class="logo__link">
				<svg class="logo__svg_top"xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35mm" height="29mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
				viewBox="0 0 3500 2900"
 				xmlns:xlink="http://www.w3.org/1999/xlink"
 				xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
 					<g id="Слой_x0020_1">
  						<metadata id="CorelCorpID_0Corel-Layer"/>
  						<path class="fil0" d="M350 467c0,-18 -5,-33 -16,-43 -11,-11 -26,-16 -44,-16l-112 0 0 118 112 0c18,0 33,-5 44,-16 11,-10 16,-25 16,-43zm-9 -262c0,-17 -6,-30 -16,-40 -10,-10 -25,-15 -44,-15l-103 0 0 110 103 0c19,0 34,-5 44,-15 10,-10 16,-23 16,-40zm174 272c0,30 -4,58 -14,82 -10,24 -24,45 -42,62 -19,17 -41,30 -66,40 -26,9 -55,14 -87,14l-293 0 0 -673 278 0c33,0 63,4 89,13 27,9 49,21 68,38 18,16 33,36 43,59 10,24 15,50 15,79 0,30 -6,56 -17,78 -11,22 -30,42 -57,61 31,19 52,39 65,62 12,23 18,51 18,85zm115 198l0 -673 457 0 0 147 -292 0 0 113 250 0 0 147 -250 0 0 118 292 0 0 148 -457 0zm950 0l-155 -276 -57 65 0 211 -163 0 0 -673 163 0 0 238 195 -238 202 0 -230 272 238 401 -193 0zm552 -526l0 526 -166 0 0 -526 -165 0 0 -147 496 0 0 147 -165 0zm587 161c0,-32 -2,-60 -6,-84 -4,-23 -10,-41 -19,-53 -16,-20 -38,-29 -66,-29 -28,0 -50,9 -66,29 -9,12 -15,30 -19,53 -4,24 -6,52 -6,84l0 46c0,43 2,75 6,97 4,22 10,38 19,50 16,20 38,30 66,30 13,0 26,-3 37,-8 12,-5 22,-13 29,-22 9,-12 15,-28 19,-50 4,-22 6,-54 6,-97l0 -46zm165 28c0,25 0,49 0,73 -1,23 -3,46 -7,69 -4,22 -11,44 -20,65 -10,21 -23,41 -41,60 -48,50 -110,75 -187,75 -78,0 -141,-25 -189,-75 -17,-18 -30,-37 -40,-57 -9,-20 -16,-41 -20,-62 -4,-22 -7,-43 -7,-65 -1,-22 -1,-43 -1,-64l0 -42c0,-33 1,-62 3,-86 2,-24 6,-46 11,-65 5,-19 12,-35 21,-50 9,-14 20,-28 33,-42 48,-51 110,-76 187,-76 78,0 141,25 189,76 24,24 41,53 52,85 11,32 16,73 16,122l0 59zm445 -120c0,-19 -6,-36 -20,-48 -13,-13 -31,-20 -51,-20l-94 0 0 136 94 0c20,0 38,-6 51,-19 14,-13 20,-29 20,-49zm166 0c0,32 -6,61 -17,87 -12,27 -27,49 -48,69 -20,19 -45,34 -73,45 -28,10 -58,16 -92,16l-101 0 0 240 -165 0 0 -673 266 0c34,0 64,5 92,16 28,11 53,25 73,45 21,19 36,42 48,68 11,27 17,56 17,87z"/>
  						<polygon class="fil0" points="935,2294 935,1657 747,1986 538,1986 349,1657 349,2294 22,2294 22,965 344,965 642,1551 941,965 1262,965 1262,2294 "/>
  						<polygon class="fil0" points="1606,1887 1606,1600 2219,1600 2219,1887 "/>
  						<path class="fil0" d="M3090 1894c0,-39 -13,-73 -40,-100 -26,-27 -59,-41 -99,-41 -38,0 -71,14 -98,41 -27,27 -40,60 -40,98 0,39 13,71 40,98 27,28 60,41 98,41 37,0 70,-13 98,-41 27,-27 41,-59 41,-96zm-13 -527c0,-36 -12,-66 -36,-91 -24,-25 -54,-37 -90,-37 -35,0 -65,12 -89,36 -24,24 -36,54 -36,90 0,36 12,65 36,89 24,25 54,37 89,37 35,0 65,-12 89,-37 25,-24 37,-53 37,-87zm169 249c55,45 94,89 115,132 22,43 33,96 33,157 0,61 -11,116 -32,165 -21,49 -50,91 -88,126 -39,35 -85,61 -140,80 -55,20 -116,29 -183,29 -66,0 -127,-9 -182,-29 -55,-19 -101,-45 -140,-80 -38,-35 -68,-76 -89,-125 -21,-49 -31,-103 -31,-164 0,-80 21,-149 63,-205 11,-15 22,-28 33,-40 11,-12 29,-27 52,-46 -49,-43 -84,-84 -105,-124 -20,-41 -30,-88 -30,-144 0,-55 11,-106 32,-153 22,-46 52,-86 90,-121 38,-35 84,-61 136,-80 53,-20 110,-29 171,-29 62,0 119,9 172,29 52,19 97,45 136,80 38,35 68,75 90,121 21,47 32,98 32,153 0,56 -10,103 -31,144 -20,40 -55,81 -104,124z"/>
  						<path class="fil1" d="M3456 2501c-3,20 -11,35 -22,46 -12,10 -29,16 -50,16 -22,0 -39,-6 -50,-16 -12,-11 -19,-26 -22,-46l32 0c2,8 6,15 12,21 7,5 16,8 28,8 12,0 21,-3 27,-8 6,-6 10,-13 12,-21l33 0zm-24 320l0 -156 -97 156 -45 0 0 -226 45 0 0 154 97 -154 46 0 0 226 -46 0zm-260 0l0 -156 -97 156 -46 0 0 -226 46 0 0 154 97 -154 45 0 0 226 -45 0zm-261 0l0 -96 -90 0 0 96 -46 0 0 -226 46 0 0 90 90 0 0 -90 46 0 0 226 -46 0zm-250 0l0 -20c-5,5 -10,9 -14,12 -4,2 -9,5 -14,6 -4,2 -9,3 -15,4 -5,0 -11,1 -18,1 -25,0 -44,-6 -58,-18 -14,-12 -20,-29 -20,-51 0,-20 7,-36 20,-48 14,-12 33,-17 57,-17l61 0 0 -17c0,-15 -4,-26 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -7,3 -9,6 -3,2 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 8,-6 14,-9 12,-6 29,-9 51,-9 63,0 94,26 94,78l0 151 -44 0zm-1 -99l-53 0c-28,0 -41,11 -41,32 0,11 3,19 11,24 7,6 18,8 34,8 17,0 30,-3 38,-11 7,-7 11,-19 11,-35l0 -18zm-239 99l0 -186 -91 0 0 186 -45 0 0 -226 181 0 0 226 -45 0zm-255 0l0 -145 -52 104 -28 0 -54 -104 0 145 -45 0 0 -226 45 0 68 135 67 -135 45 0 0 226 -46 0zm-241 -114c0,11 -1,22 -2,30 -1,9 -2,17 -4,25 -2,7 -5,13 -8,19 -4,6 -8,11 -13,16 -17,18 -40,27 -68,27 -27,0 -50,-9 -67,-27 -10,-10 -16,-22 -21,-35 -4,-14 -6,-32 -6,-54 0,-22 2,-40 6,-53 5,-14 11,-26 21,-36 17,-18 40,-27 67,-27 28,0 51,9 68,27 10,10 17,22 21,35 4,14 6,31 6,53zm-46 2c0,-14 -1,-27 -3,-37 -1,-10 -5,-18 -11,-24 -4,-5 -9,-8 -15,-11 -5,-3 -12,-4 -20,-4 -7,0 -14,1 -20,4 -5,3 -10,6 -15,11 -5,7 -9,16 -11,26 -1,10 -2,22 -2,36 0,15 1,27 3,36 3,10 6,17 11,23 8,10 20,14 34,14 8,0 15,-1 20,-4 6,-2 11,-6 15,-11 6,-6 9,-14 11,-24 2,-10 3,-22 3,-35zm-233 112l-64 -100 -33 37 0 63 -46 0 0 -226 46 0 0 108 90 -108 56 0 -83 93 90 133 -56 0zm-365 0l0 -20c-5,5 -9,9 -14,12 -4,2 -9,5 -13,6 -5,2 -10,3 -16,4 -5,0 -11,1 -17,1 -26,0 -45,-6 -59,-18 -13,-12 -20,-29 -20,-51 0,-20 7,-36 21,-48 13,-12 32,-17 57,-17l60 0 0 -17c0,-15 -4,-26 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -6,3 -9,6 -3,2 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 9,-6 14,-9 13,-6 29,-9 51,-9 63,0 95,26 95,78l0 151 -45 0zm-1 -99l-53 0c-27,0 -41,11 -41,32 0,11 4,19 11,24 7,6 18,8 34,8 18,0 30,-3 38,-11 8,-7 11,-19 11,-35l0 -18zm-239 99l0 -186 -90 0 0 186 -46 0 0 -226 181 0 0 226 -45 0zm-254 0l0 -186 -90 0 0 186 -46 0 0 -226 182 0 0 226 -46 0zm-275 46c-6,15 -14,26 -24,34 -10,7 -23,10 -39,10l-18 0 0 -41 11 0c9,0 16,-1 21,-5 5,-3 9,-9 12,-19l12 -35 -79 -216 48 0 55 160 52 -160 49 0 -100 272zm-133 -158c0,25 -2,44 -6,59 -4,15 -10,27 -19,36 -14,13 -33,20 -57,20 -13,0 -24,-2 -32,-6 -8,-4 -17,-10 -26,-20l0 115 -45 0 0 -318 44 0 0 24c5,-5 9,-9 13,-12 5,-4 9,-6 13,-9 5,-2 10,-3 15,-4 5,-1 11,-2 18,-2 20,0 37,5 50,15 13,9 22,24 27,44 2,8 3,16 4,25 0,8 1,19 1,33zm-46 -1c0,-27 -4,-46 -11,-58 -7,-11 -19,-17 -36,-17 -18,0 -31,7 -38,22 -3,6 -5,13 -7,22 -1,9 -2,20 -2,33 0,26 4,45 11,56 7,12 20,17 36,17 17,0 29,-5 36,-17 8,-12 11,-31 11,-58zm-282 -73l0 186 -46 0 0 -226 147 0 0 40 -101 0z"/>
 					</g>
				</svg>
			</a>
		</div>
		<div class="header__top">
			<div class="header__info header-info">
				<a href="#" class="header__phone header-info__link"><i class="fa fa-phone header__info-icon"
						aria-hidden="true"></i>8 (8172) 70-68-70</a>
				<a href="#" class="header__email header-info__link"><i class="fa fa-envelope-o header__info-icon"
						aria-hidden="true"></i>ROP@VECTORM8.RU</a>
			</div>
			<div class="header__socialLinks social-links">
				<a href="https://www.facebook.com/people/%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87/100028054223640" class="social-links__item" target="_blank"><i class="fa fa-facebook social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://vk.com/vectorm8" class="social-links__item" target="_blank"><i class="fa fa-vk social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://twitter.com/qfYBs1TOPPFOnws" class="social-links__item" target="_blank"><i class="fa fa-twitter social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://instagram.com/vectorm8" class="social-links__item" target="_blank"><i class="fa fa-instagram social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/channel/UCft4VaW2QvHTcHXnZIXqQhQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber" class="social-links__item" target="_blank"><i class="fa fa-youtube-play social-links__icon"
						aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="header__low">
			<nav class="header-nav">
				<a href="/" class="header-nav__link">Главная</a>
				<a href="/#products" class="header-nav__link">Продукты</a>
				<a href="/gallery" class="header-nav__link">Фотогалерея</a>
				<a href="#" class="header-nav__link">Статьи</a>
				<a href="/#contacts" class="header-nav__link">Контакты</a>
			</nav>
		</div>
		</div>
		
	</header>

    <main class="articles__container">
        <div class="mobile-header">
            <div class="mobile-header__wrapper">
                <a href="/" class="mobile-logo_link">
                    <svg class="logo__text" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35mm" height="29mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 3500 2900"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <path class="fil0" d="M350 467c0,-18 -5,-33 -16,-43 -11,-11 -26,-16 -44,-16l-112 0 0 118 112 0c18,0 33,-5 44,-16 11,-10 16,-25 16,-43zm-9 -262c0,-17 -6,-30 -16,-40 -10,-10 -25,-15 -44,-15l-103 0 0 110 103 0c19,0 34,-5 44,-15 10,-10 16,-23 16,-40zm174 272c0,30 -4,58 -14,82 -10,24 -24,45 -42,62 -19,17 -41,30 -66,40 -26,9 -55,14 -87,14l-293 0 0 -673 278 0c33,0 63,4 89,13 27,9 49,21 68,38 18,16 33,36 43,59 10,24 15,50 15,79 0,30 -6,56 -17,78 -11,22 -30,42 -57,61 31,19 52,39 65,62 12,23 18,51 18,85zm115 198l0 -673 457 0 0 147 -292 0 0 113 250 0 0 147 -250 0 0 118 292 0 0 148 -457 0zm950 0l-155 -276 -57 65 0 211 -163 0 0 -673 163 0 0 238 195 -238 202 0 -230 272 238 401 -193 0zm552 -526l0 526 -166 0 0 -526 -165 0 0 -147 496 0 0 147 -165 0zm587 161c0,-32 -2,-60 -6,-84 -4,-23 -10,-41 -19,-53 -16,-20 -38,-29 -66,-29 -28,0 -50,9 -66,29 -9,12 -15,30 -19,53 -4,24 -6,52 -6,84l0 46c0,43 2,75 6,97 4,22 10,38 19,50 16,20 38,30 66,30 13,0 26,-3 37,-8 12,-5 22,-13 29,-22 9,-12 15,-28 19,-50 4,-22 6,-54 6,-97l0 -46zm165 28c0,25 0,49 0,73 -1,23 -3,46 -7,69 -4,22 -11,44 -20,65 -10,21 -23,41 -41,60 -48,50 -110,75 -187,75 -78,0 -141,-25 -189,-75 -17,-18 -30,-37 -40,-57 -9,-20 -16,-41 -20,-62 -4,-22 -7,-43 -7,-65 -1,-22 -1,-43 -1,-64l0 -42c0,-33 1,-62 3,-86 2,-24 6,-46 11,-65 5,-19 12,-35 21,-50 9,-14 20,-28 33,-42 48,-51 110,-76 187,-76 78,0 141,25 189,76 24,24 41,53 52,85 11,32 16,73 16,122l0 59zm445 -120c0,-19 -6,-36 -20,-48 -13,-13 -31,-20 -51,-20l-94 0 0 136 94 0c20,0 38,-6 51,-19 14,-13 20,-29 20,-49zm166 0c0,32 -6,61 -17,87 -12,27 -27,49 -48,69 -20,19 -45,34 -73,45 -28,10 -58,16 -92,16l-101 0 0 240 -165 0 0 -673 266 0c34,0 64,5 92,16 28,11 53,25 73,45 21,19 36,42 48,68 11,27 17,56 17,87z"/>
  <polygon class="fil0" points="935,2294 935,1657 747,1986 538,1986 349,1657 349,2294 22,2294 22,965 344,965 642,1551 941,965 1262,965 1262,2294 "/>
  <polygon class="fil0" points="1606,1887 1606,1600 2219,1600 2219,1887 "/>
  <path class="fil0" d="M3090 1894c0,-39 -13,-73 -40,-100 -26,-27 -59,-41 -99,-41 -38,0 -71,14 -98,41 -27,27 -40,60 -40,98 0,39 13,71 40,98 27,28 60,41 98,41 37,0 70,-13 98,-41 27,-27 41,-59 41,-96zm-13 -527c0,-36 -12,-66 -36,-91 -24,-25 -54,-37 -90,-37 -35,0 -65,12 -89,36 -24,24 -36,54 -36,90 0,36 12,65 36,89 24,25 54,37 89,37 35,0 65,-12 89,-37 25,-24 37,-53 37,-87zm169 249c55,45 94,89 115,132 22,43 33,96 33,157 0,61 -11,116 -32,165 -21,49 -50,91 -88,126 -39,35 -85,61 -140,80 -55,20 -116,29 -183,29 -66,0 -127,-9 -182,-29 -55,-19 -101,-45 -140,-80 -38,-35 -68,-76 -89,-125 -21,-49 -31,-103 -31,-164 0,-80 21,-149 63,-205 11,-15 22,-28 33,-40 11,-12 29,-27 52,-46 -49,-43 -84,-84 -105,-124 -20,-41 -30,-88 -30,-144 0,-55 11,-106 32,-153 22,-46 52,-86 90,-121 38,-35 84,-61 136,-80 53,-20 110,-29 171,-29 62,0 119,9 172,29 52,19 97,45 136,80 38,35 68,75 90,121 21,47 32,98 32,153 0,56 -10,103 -31,144 -20,40 -55,81 -104,124z"/>
  <path class="fil1" d="M3456 2501c-3,20 -11,35 -22,46 -12,10 -29,16 -50,16 -22,0 -39,-6 -50,-16 -12,-11 -19,-26 -22,-46l32 0c2,8 6,15 12,21 7,5 16,8 28,8 12,0 21,-3 27,-8 6,-6 10,-13 12,-21l33 0zm-24 320l0 -156 -97 156 -45 0 0 -226 45 0 0 154 97 -154 46 0 0 226 -46 0zm-260 0l0 -156 -97 156 -46 0 0 -226 46 0 0 154 97 -154 45 0 0 226 -45 0zm-261 0l0 -96 -90 0 0 96 -46 0 0 -226 46 0 0 90 90 0 0 -90 46 0 0 226 -46 0zm-250 0l0 -20c-5,5 -10,9 -14,12 -4,2 -9,5 -14,6 -4,2 -9,3 -15,4 -5,0 -11,1 -18,1 -25,0 -44,-6 -58,-18 -14,-12 -20,-29 -20,-51 0,-20 7,-36 20,-48 14,-12 33,-17 57,-17l61 0 0 -17c0,-15 -4,-26 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -7,3 -9,6 -3,2 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 8,-6 14,-9 12,-6 29,-9 51,-9 63,0 94,26 94,78l0 151 -44 0zm-1 -99l-53 0c-28,0 -41,11 -41,32 0,11 3,19 11,24 7,6 18,8 34,8 17,0 30,-3 38,-11 7,-7 11,-19 11,-35l0 -18zm-239 99l0 -186 -91 0 0 186 -45 0 0 -226 181 0 0 226 -45 0zm-255 0l0 -145 -52 104 -28 0 -54 -104 0 145 -45 0 0 -226 45 0 68 135 67 -135 45 0 0 226 -46 0zm-241 -114c0,11 -1,22 -2,30 -1,9 -2,17 -4,25 -2,7 -5,13 -8,19 -4,6 -8,11 -13,16 -17,18 -40,27 -68,27 -27,0 -50,-9 -67,-27 -10,-10 -16,-22 -21,-35 -4,-14 -6,-32 -6,-54 0,-22 2,-40 6,-53 5,-14 11,-26 21,-36 17,-18 40,-27 67,-27 28,0 51,9 68,27 10,10 17,22 21,35 4,14 6,31 6,53zm-46 2c0,-14 -1,-27 -3,-37 -1,-10 -5,-18 -11,-24 -4,-5 -9,-8 -15,-11 -5,-3 -12,-4 -20,-4 -7,0 -14,1 -20,4 -5,3 -10,6 -15,11 -5,7 -9,16 -11,26 -1,10 -2,22 -2,36 0,15 1,27 3,36 3,10 6,17 11,23 8,10 20,14 34,14 8,0 15,-1 20,-4 6,-2 11,-6 15,-11 6,-6 9,-14 11,-24 2,-10 3,-22 3,-35zm-233 112l-64 -100 -33 37 0 63 -46 0 0 -226 46 0 0 108 90 -108 56 0 -83 93 90 133 -56 0zm-365 0l0 -20c-5,5 -9,9 -14,12 -4,2 -9,5 -13,6 -5,2 -10,3 -16,4 -5,0 -11,1 -17,1 -26,0 -45,-6 -59,-18 -13,-12 -20,-29 -20,-51 0,-20 7,-36 21,-48 13,-12 32,-17 57,-17l60 0 0 -17c0,-15 -4,-26 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -6,3 -9,6 -3,2 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 9,-6 14,-9 13,-6 29,-9 51,-9 63,0 95,26 95,78l0 151 -45 0zm-1 -99l-53 0c-27,0 -41,11 -41,32 0,11 4,19 11,24 7,6 18,8 34,8 18,0 30,-3 38,-11 8,-7 11,-19 11,-35l0 -18zm-239 99l0 -186 -90 0 0 186 -46 0 0 -226 181 0 0 226 -45 0zm-254 0l0 -186 -90 0 0 186 -46 0 0 -226 182 0 0 226 -46 0zm-275 46c-6,15 -14,26 -24,34 -10,7 -23,10 -39,10l-18 0 0 -41 11 0c9,0 16,-1 21,-5 5,-3 9,-9 12,-19l12 -35 -79 -216 48 0 55 160 52 -160 49 0 -100 272zm-133 -158c0,25 -2,44 -6,59 -4,15 -10,27 -19,36 -14,13 -33,20 -57,20 -13,0 -24,-2 -32,-6 -8,-4 -17,-10 -26,-20l0 115 -45 0 0 -318 44 0 0 24c5,-5 9,-9 13,-12 5,-4 9,-6 13,-9 5,-2 10,-3 15,-4 5,-1 11,-2 18,-2 20,0 37,5 50,15 13,9 22,24 27,44 2,8 3,16 4,25 0,8 1,19 1,33zm-46 -1c0,-27 -4,-46 -11,-58 -7,-11 -19,-17 -36,-17 -18,0 -31,7 -38,22 -3,6 -5,13 -7,22 -1,9 -2,20 -2,33 0,26 4,45 11,56 7,12 20,17 36,17 17,0 29,-5 36,-17 8,-12 11,-31 11,-58zm-282 -73l0 186 -46 0 0 -226 147 0 0 40 -101 0z"/>
 </g>
</svg>
                </a>
                <div class="header__burger" id="burger">
                    <span class="burger-btn"></span>
                </div>
                <nav class="mobile-nav">
                    <a href="/" class="mobile-nav__link">Главная</a>
                    <a href="/#products" class="mobile-nav__link">Продукты</a>
                    <a href="/gallery" class="mobile-nav__link">Фотогалерея</a>
                    <a href="/articles" class="mobile-nav__link">Статьи</a>
                    <a href="/#contacts" class="mobile-nav__link">Контакты</a>
                    <div class="mobile-social-links">
                        <a href="https://www.facebook.com/people/%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87/100028054223640"
                            class="mobile-social-links__item" target="_blank"><i
                                class="fa fa-facebook social-links__icon" aria-hidden="true"></i></a>
                        <a href="https://vk.com/vectorm8" class="mobile-social-links__item" target="_blank"><i
                                class="fa fa-vk social-links__icon" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/qfYBs1TOPPFOnws" class="mobile-social-links__item"
                            target="_blank"><i class="fa fa-twitter social-links__icon" aria-hidden="true"></i></a>
                        <a href="https://instagram.com/vectorm8" class="mobile-social-links__item" target="_blank"><i
                                class="fa fa-instagram social-links__icon" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/channel/UCft4VaW2QvHTcHXnZIXqQhQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber"
                            class="mobile-social-links__item" target="_blank"><i
                                class="fa fa-youtube-play social-links__icon" aria-hidden="true"></i></a>
                    </div>
                </nav>
            </div>
        </div>

        <div class="articles">
            <div class="articles__wrapper">
            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Агронавигатор</h3>
                </a>
                <p class="article__text">Готовь сани летом, а телегу зимой.</p>
                <p class="article__text">
                    Эта поговорка, пожалуй, как никакая другая относится к&nbsp;предприятиям сельскохозяйственного
                    сектора.
                    А&nbsp;количество задач, которые необходимо решить к&nbsp;началу сезона неуклонно растет.
                    Так по&nbsp;причине необходимости сокращения издержек перед сельскохозяйственными предприятиями
                    встала
                    новая актуальная задача&nbsp;&mdash; внедрение систем точного земледелия. Рынок данных систем
                    обширен
                    и&nbsp;разнообразен. В&nbsp;Южных регионах страны уже давно используются системы параллельного
                    вождения,
                    агро-метеостанции и&nbsp;прочее продвинутое оборудование. В&nbsp;наших Северных районах данное
                    направление
                    не&nbsp;получило развития по&nbsp;нескольким причинам.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Словарь терминов</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Приведенный ниже словарь терминов&nbsp;&mdash; наша попытка простым и&nbsp;понятным языком
                    (и&nbsp;не&nbsp;без юмора) объяснить термины, использующиеся в&nbsp;транспортном мониторинге. Данный
                    словарь
                    будет постоянно дорабатываться и&nbsp;дополняться
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Система контроля топлива не&nbsp;работает</h3>
                </a>
                <p class="article__text">Система контроля топлива не работает.</p>
                <p class="article__text">
                    Мы&nbsp;постоянно слышим это утверждение.И на&nbsp;самом деле с&nbsp;этим сложно
                    спорить,&nbsp;&mdash;
                    это факт.Это не&nbsp;зависит ни&nbsp;от&nbsp;выбранного программного обеспечения,
                    ни&nbsp;от&nbsp;оборудования.
                    Система не&nbsp;работает.Почему? Все очень просто. Ни&nbsp;программа, ни&nbsp;оборудование сами
                    по&nbsp;себе
                    не&nbsp;исключат сливы, не&nbsp;осуществят нормирование расходов и&nbsp;не&nbsp;проконтролируют
                    соблюдение
                    этих норм.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Российский лес 2019</h3>
                </a>
                <p class="article__text">
                    Прошедшая выставка была как всегда более, чем насыщенной!
                    В&nbsp;рамках выставки наша компания была приглашена на&nbsp;круглый стол &laquo;Ответственное
                    природопользование в&nbsp;сфере лесозаготовки и&nbsp;лесовосстановления&raquo;.
                    Предлагаем вам ознакомиться с&nbsp;нашим докладом.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Наш клиент!</h3>
                </a>
                <p class="article__text">
                    Санкт-Петербург. Крым. Сибирь. Дальний Восток...Тысячи километров пролетают под колесами большегруза
                    под управлением Олега Каргинова.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Лесоруб XXI века</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Август в&nbsp;наших краях хоть и&nbsp;не&nbsp;порадовал жаркой погодой, но&nbsp;для нашей
                    компании он&nbsp;был более чем жарким.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Вектор М-8 на высоте!</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Август&nbsp;&mdash; важный месяц в&nbsp;истории нашей компании. В&nbsp;августе мы&nbsp;отмечаем день
                    основания Вектор М-8.Среди различных мероприятий, приуроченных к&nbsp;этому событию одним
                    из&nbsp;самых
                    запоминающихся стало покорение Приполярного Урала.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Акция &quot;Векторизация&quot;</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    В&nbsp;День Рождения нашей компании мы&nbsp;запускаем уникальную акцию для наших клиентов!
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Серебряный Меркурий 2019</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    30&nbsp;мая в&nbsp;Вологде наградили лучших предпринимателей, вручив &laquo;Серебряный
                    Меркурий&raquo;.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Техника под контролем</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    &mdash;&nbsp;ДТП;<br>
                    &mdash;&nbsp;Иск от&nbsp;пассажира;<br>
                    &mdash;&nbsp;Нарушение техники безопасности;<br>
                    &mdash;&nbsp;Нарушение технологии работы;<br>
                    &mdash;&nbsp;Повреждение или кража груза;<br>
                    &mdash;&nbsp;Претензии по&nbsp;качеству выполненных работ.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Сотрудничество с ИСТК</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    В&nbsp;конце прошлого года наша компания принимала участие в&nbsp;Международном промышленном форуме.
                    Мы&nbsp;уже рассказывали о&nbsp;нем в&nbsp;декабре. Подводя итоги ключевых конференций,
                    мы&nbsp;определили,
                    что одной из&nbsp;самых актуальных и&nbsp;обсуждаемых проблем была проблема взаимодействия крупного
                    и&nbsp;малого бизнеса. Одним из&nbsp;ключевых решений, разработанных в&nbsp;ходе обсуждения, стало
                    предложение объединения малых предприятий в&nbsp;конгломераты. Такая форма работы позволит
                    максимально
                    эффективно решать задачи производственных гигантов усилиями меньших организаций. Работа нашей
                    компании
                    в&nbsp;данном направлении уже принесла свои плоды!
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Мифы и правда о системах контроля расхода топлива</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Внедрение и&nbsp;эксплуатация систем контроля расхода топлива на&nbsp;транспорте это постоянная
                    &laquo;гонка
                    вооружений&raquo; между собственниками бизнеса и&nbsp;компаниями по&nbsp;предоставлению услуг
                    мониторинга
                    с&nbsp;одной стороны и&nbsp;нечестными водителями с&nbsp;другой стороны. Одним из&nbsp;самых опасных
                    методов,
                    который используют водители и&nbsp;заинтересованные в&nbsp;хищениях топлива лица является
                    мифотворчество
                    о&nbsp;вреде использования системы. Некоторые мифы настолько сильны, что являются стоп-фактором при
                    принятии
                    решения руководителями компаний об&nbsp;оснащении транспорта системами контроля расхода топлива.
                    Поэтому
                    мы&nbsp;хотим представить разбор и&nbsp;опровержение самых популярных мифов о&nbsp;системах контроля
                    расхода
                    топлива. Этот вопрос настолько обширен и&nbsp;важен, что мы&nbsp;планируем посвятить ему несколько
                    статей.
                    Итак, приступим.<br>
                    <br>
                    Миф&nbsp;1. Установка систем контроля расхода топлива регулярно выводит из&nbsp;строя штатное
                    оборудование
                    автомобиля. В&nbsp;список уязвимого оборудования водители заносят и&nbsp;штатный датчик уровня
                    топлива,
                    и&nbsp;систему зажигания, и&nbsp;Can-шину (при установке оборудования, которое считывает данные
                    с&nbsp;Can-шины),
                    и&nbsp;прочее оборудование автомобиля, которое, по&nbsp;мнению водителей, может выйти из&nbsp;строя.
                    На&nbsp;нашей практике встречались совершенно абсурдные примеры, когда водители жаловались
                    на&nbsp;сгоревшие
                    в&nbsp;результате установки систем контроля магнитолы и&nbsp;рации! Так&nbsp;ли это на&nbsp;самом
                    деле?
                    Давайте разбираться.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Оснащение легковой техники</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Среди наших клиентов долгое время бытовало мнение, что установка систем спутникового мониторинга
                    и&nbsp;контроля
                    расхода топлива целесообразна лишь на&nbsp;грузовой транспорт. Это приводило к&nbsp;тому, что при
                    оснащении
                    автопарка компании про легковой транспорт просто забывали, а&nbsp;ведь во&nbsp;многих компаниях
                    легковая
                    техника эксплуатируется много и&nbsp;на&nbsp;различных участках работ. Со&nbsp;временем практика
                    показала, что
                    оснащение автопарка без оснащения легковых единиц не&nbsp;позволяет в&nbsp;полной мере осуществлять
                    контроль
                    над использованием топлива в&nbsp;компании, и&nbsp;легковые машины являются своеобразной лазейкой
                    для
                    недобросовестных сотрудников. В&nbsp;связи с&nbsp;этим, нами было принято решение
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Проблема хищения топлива</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Мои не&nbsp;сливают! Такое утверждение сотрудники компании Вектор М-8 достаточно часто слышат
                    от&nbsp;клиентов.
                    И&nbsp;к&nbsp;величайшему сожалению, чем больше уверенность руководителей в&nbsp;честности своих
                    сотрудников,
                    тем сильнее их&nbsp;разочарование, когда после установки систем контроля расхода топлива
                    на&nbsp;предприятии
                    выявляются факты сливов. В тоже время на&nbsp;многих предприятиях руководители знают о&nbsp;том, что
                    хищения
                    происходят, но&nbsp;не&nbsp;понимают, как их&nbsp;остановить. А&nbsp;хищения на&nbsp;таких
                    предприятиях
                    в&nbsp;силу безнаказанности приобретают настолько грандиозный характер, что порой даже приводят
                    к&nbsp;комичным ситуациям. Одна из&nbsp;таких ситуаций произошла пару лет назад на&nbsp;одном
                    из&nbsp;крупных
                    предприятий Вологодской области.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Промышленный форум в Череповце</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Не&nbsp;успели мы&nbsp;перевести дух после выставки Российский Лес, как уже направились в&nbsp;город
                    Череповец, куда были приглашены на&nbsp;второй Международный промышленный форум. Цель проведения
                    данного
                    форума заключается в&nbsp;том, чтобы на&nbsp;одной площадке собрать руководителей крупных компаний,
                    представителей институтов развития и&nbsp;общественных объединений предпринимателей для диалога
                    и&nbsp;обмена опытом в&nbsp;сфере развития производственного сектора. Программа форума была более
                    чем
                    насыщенной, и&nbsp;поэтому было нелегко решить, в&nbsp;каких мероприятиях принять участие.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Российский лес 2018</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Вот и&nbsp;отгремела ежегодная выставка Российский Лес.<br>
                    Самое время перевести дух после трех напряженных и&nbsp;насыщенных событиями дней и&nbsp;подвести
                    ее&nbsp;итоги.<br>
                    Программа выставки, как всегда была более чем насыщенной. Свыше 200 компаний представили свои
                    экспозиции
                    в&nbsp;выставочном центре Русский дом. Компания Вектор М-8 так&nbsp;же не&nbsp;смогла остаться
                    в&nbsp;стороне
                    и&nbsp;организовала работу своего стенда. Основная тематика выставки соответствовала тренду
                    последних лет и
                    ключевыми темами являлись:<br>
                    &mdash;&nbsp;эффективное лесопользование;<br>
                    &mdash;&nbsp;лесовосстановление;<br>
                    &mdash;&nbsp;защита леса;<br>
                    &mdash;&nbsp;внедрение в&nbsp;сферу лесопользования новых технологий, направленных
                    на&nbsp;увеличение эффективности.<br>
                    В&nbsp;целом, тема эффективности красной нитью проходила через все семинары, обсуждения
                    и&nbsp;экспозиции. В&nbsp;связи
                    с&nbsp;этим, стенд нашей компании вызвал неподдельный интерес со&nbsp;стороны лесозаготовителей.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Важность аналитики</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Как мы&nbsp;уже говорили ранее, даже самое лучшее, хорошо настроенное и&nbsp;установленное
                    оборудование
                    не&nbsp;является гарантией стопроцентной эффективности работы. Система контроля расхода топлива это
                    инструмент,
                    и&nbsp;ее&nbsp;эффективность очень сильно зависит от&nbsp;квалификации персонала, который этот
                    инструмент
                    использует. К&nbsp;сожалению, нередко можно встретить ситуацию, при которой на&nbsp;предприятиях,
                    установивших
                    системы контроля расхода топлива, сливы полностью не&nbsp;исключаются, а&nbsp;средние нормы расхода
                    горючего
                    снижаются незначительно. В&nbsp;таких случаях эффективность системы снижается, а&nbsp;это
                    в&nbsp;свою очередь
                    увеличивает срок окупаемости систем. К&nbsp;основным причинам, которые приводят к&nbsp;снижению
                    эффективности
                    системы можно отнести:
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>

            <article class="article">
                <a href="#" class="article__title-link">
                    <h3 class="article__title">Контроль оборотов двигателя</h3>
                </a>
                <p class="article__text"><span class="article__author">&copy;&nbsp;Автор:&nbsp;Вектор&nbsp;М-8</span>
                </p>
                <p class="article__text">
                    Система контроля расхода топлива, которая состоит из&nbsp;связки датчик уровня топлива
                    и&nbsp;регистратора,
                    безусловно, является я&nbsp;очень хорошим инструментом повышения эффективности работы автопарка.
                    В&nbsp;то&nbsp;же время, прогресс не&nbsp;стоит на&nbsp;месте и&nbsp;функциональность данной связки
                    постоянно
                    расширяется разработчиками для возможности более глубокого анализа всех параметров техники,
                    от&nbsp;которых зависит
                    ее&nbsp;эффективность. Одной из&nbsp;таких функций является мониторинг оборотов двигателя. Стоимость
                    подключения
                    данной функции относительно невысока, но&nbsp;ее&nbsp;эффективность трудно переоценить.
                </p>
                <a href="#" class="article__link">Читать дальше</a>
            </article>
            </div>
        </div>
    </main>
    
	<footer class="footer">
		<div class="footer__text footer-text">
			<p class="footer-text__paragraph">ГЛОНАСС, GPS, спутниковый мониторинг транспорта.</p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">Система контроля расхода топлива.</a></p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">Система мониторинга АЗС. </a></p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">Агронавигатор.</a></p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">ЭРА-ГЛОНАСС.</a></p>
			<p class="footer-text__paragraph">Установка, обслуживание и&nbsp;ремонт в&nbsp;Вологодской области, Архангельской области, Ярославской области, Костромской области, Ленинградской области, Республике Карелия.</p>
		</div>
		<div class="footer__contacts footer-contacts">
			<h5 class="footer__title">Вектор М-8</h5>
			<p class="footer-contacts__item footer-contacts__item_phone">8 (8172) 70-68-70</p>
			<p class="footer-contacts__item footer-contacts__item_adress">г. Вологда, ул. Советский пр-т, д.&nbsp;125&nbsp;Б, 4&nbsp;этаж</p>
			<p class="footer-contacts__item footer-contacts__item_mail">rop@vectorm8.ru</p>
			<div class="footer__socialLinks footer-links">
				<a href="https://www.facebook.com/people/%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87/100028054223640" class="footer-links__item footer-links__item_facebook" target="_blank"><i class="fa fa-facebook social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://vk.com/vectorm8" class="footer-links__item footer-links__item_vk" target="_blank"><i class="fa fa-vk social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://twitter.com/qfYBs1TOPPFOnws" class="footer-links__item footer-links__item_twitter" target="_blank"><i class="fa fa-twitter social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/vectorm8/" class="footer-links__item footer-links__item_instagram" target="_blank"><i class="fa fa-instagram social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/channel/UCft4VaW2QvHTcHXnZIXqQhQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber" class="footer-links__item footer-links__item_youtube" target="_blank"><i class="fa fa-youtube-play social-links__icon"
						aria-hidden="true"></i></a>
			</div>
		</div>
	</footer>
    <script src="/javascripts/burger.js"></script>
</div>