<header>
	<nav>
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/signin">Войти</a></li>
			<li><a href="/about">О компании</a></li>
			<li><a href="/contacts">Контакты</a></li>
		</ul>
	</nav>
</header>
<main>
	<h2>Contacts</h2>
</main>


