<div class="container">
	<header class="padding-site">
		<nav class="main-nav">
			<ul class="main-nav__list">
				<li><a href="/" class="main-nav__link">Главная</a></li>
				<li><a href="/signin" class="main-nav__link">Войти</a></li>
				<li><a href="/about" class="main-nav__link">О компании</a></li>
				<li><a href="/contacts" class="main-nav__link">Контакты</a></li>
			</ul>
		</nav>
	</header>
	<main class="padding-site">
		<h2>Contacts</h2>
	</main>
</div>