<div class="container">
	<header class="header">
		<div class="header__wrapper">
			<div class="header__logo logo">
			<a href="#" class="logo__link">
				<svg class="logo__svg_top"xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35mm" height="29mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
				viewBox="0 0 3500 2900"
 				xmlns:xlink="http://www.w3.org/1999/xlink"
 				xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
 					<g id="Слой_x0020_1">
  						<metadata id="CorelCorpID_0Corel-Layer"/>
  						<path class="fil0" d="M350 467c0,-18 -5,-33 -16,-43 -11,-11 -26,-16 -44,-16l-112 0 0 118 112 0c18,0 33,-5 44,-16 11,-10 16,-25 16,-43zm-9 -262c0,-17 -6,-30 -16,-40 -10,-10 -25,-15 -44,-15l-103 0 0 110 103 0c19,0 34,-5 44,-15 10,-10 16,-23 16,-40zm174 272c0,30 -4,58 -14,82 -10,24 -24,45 -42,62 -19,17 -41,30 -66,40 -26,9 -55,14 -87,14l-293 0 0 -673 278 0c33,0 63,4 89,13 27,9 49,21 68,38 18,16 33,36 43,59 10,24 15,50 15,79 0,30 -6,56 -17,78 -11,22 -30,42 -57,61 31,19 52,39 65,62 12,23 18,51 18,85zm115 198l0 -673 457 0 0 147 -292 0 0 113 250 0 0 147 -250 0 0 118 292 0 0 148 -457 0zm950 0l-155 -276 -57 65 0 211 -163 0 0 -673 163 0 0 238 195 -238 202 0 -230 272 238 401 -193 0zm552 -526l0 526 -166 0 0 -526 -165 0 0 -147 496 0 0 147 -165 0zm587 161c0,-32 -2,-60 -6,-84 -4,-23 -10,-41 -19,-53 -16,-20 -38,-29 -66,-29 -28,0 -50,9 -66,29 -9,12 -15,30 -19,53 -4,24 -6,52 -6,84l0 46c0,43 2,75 6,97 4,22 10,38 19,50 16,20 38,30 66,30 13,0 26,-3 37,-8 12,-5 22,-13 29,-22 9,-12 15,-28 19,-50 4,-22 6,-54 6,-97l0 -46zm165 28c0,25 0,49 0,73 -1,23 -3,46 -7,69 -4,22 -11,44 -20,65 -10,21 -23,41 -41,60 -48,50 -110,75 -187,75 -78,0 -141,-25 -189,-75 -17,-18 -30,-37 -40,-57 -9,-20 -16,-41 -20,-62 -4,-22 -7,-43 -7,-65 -1,-22 -1,-43 -1,-64l0 -42c0,-33 1,-62 3,-86 2,-24 6,-46 11,-65 5,-19 12,-35 21,-50 9,-14 20,-28 33,-42 48,-51 110,-76 187,-76 78,0 141,25 189,76 24,24 41,53 52,85 11,32 16,73 16,122l0 59zm445 -120c0,-19 -6,-36 -20,-48 -13,-13 -31,-20 -51,-20l-94 0 0 136 94 0c20,0 38,-6 51,-19 14,-13 20,-29 20,-49zm166 0c0,32 -6,61 -17,87 -12,27 -27,49 -48,69 -20,19 -45,34 -73,45 -28,10 -58,16 -92,16l-101 0 0 240 -165 0 0 -673 266 0c34,0 64,5 92,16 28,11 53,25 73,45 21,19 36,42 48,68 11,27 17,56 17,87z"/>
  						<polygon class="fil0" points="935,2294 935,1657 747,1986 538,1986 349,1657 349,2294 22,2294 22,965 344,965 642,1551 941,965 1262,965 1262,2294 "/>
  						<polygon class="fil0" points="1606,1887 1606,1600 2219,1600 2219,1887 "/>
  						<path class="fil0" d="M3090 1894c0,-39 -13,-73 -40,-100 -26,-27 -59,-41 -99,-41 -38,0 -71,14 -98,41 -27,27 -40,60 -40,98 0,39 13,71 40,98 27,28 60,41 98,41 37,0 70,-13 98,-41 27,-27 41,-59 41,-96zm-13 -527c0,-36 -12,-66 -36,-91 -24,-25 -54,-37 -90,-37 -35,0 -65,12 -89,36 -24,24 -36,54 -36,90 0,36 12,65 36,89 24,25 54,37 89,37 35,0 65,-12 89,-37 25,-24 37,-53 37,-87zm169 249c55,45 94,89 115,132 22,43 33,96 33,157 0,61 -11,116 -32,165 -21,49 -50,91 -88,126 -39,35 -85,61 -140,80 -55,20 -116,29 -183,29 -66,0 -127,-9 -182,-29 -55,-19 -101,-45 -140,-80 -38,-35 -68,-76 -89,-125 -21,-49 -31,-103 -31,-164 0,-80 21,-149 63,-205 11,-15 22,-28 33,-40 11,-12 29,-27 52,-46 -49,-43 -84,-84 -105,-124 -20,-41 -30,-88 -30,-144 0,-55 11,-106 32,-153 22,-46 52,-86 90,-121 38,-35 84,-61 136,-80 53,-20 110,-29 171,-29 62,0 119,9 172,29 52,19 97,45 136,80 38,35 68,75 90,121 21,47 32,98 32,153 0,56 -10,103 -31,144 -20,40 -55,81 -104,124z"/>
  						<path class="fil1" d="M3456 2501c-3,20 -11,35 -22,46 -12,10 -29,16 -50,16 -22,0 -39,-6 -50,-16 -12,-11 -19,-26 -22,-46l32 0c2,8 6,15 12,21 7,5 16,8 28,8 12,0 21,-3 27,-8 6,-6 10,-13 12,-21l33 0zm-24 320l0 -156 -97 156 -45 0 0 -226 45 0 0 154 97 -154 46 0 0 226 -46 0zm-260 0l0 -156 -97 156 -46 0 0 -226 46 0 0 154 97 -154 45 0 0 226 -45 0zm-261 0l0 -96 -90 0 0 96 -46 0 0 -226 46 0 0 90 90 0 0 -90 46 0 0 226 -46 0zm-250 0l0 -20c-5,5 -10,9 -14,12 -4,2 -9,5 -14,6 -4,2 -9,3 -15,4 -5,0 -11,1 -18,1 -25,0 -44,-6 -58,-18 -14,-12 -20,-29 -20,-51 0,-20 7,-36 20,-48 14,-12 33,-17 57,-17l61 0 0 -17c0,-15 -4,-26 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -7,3 -9,6 -3,2 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 8,-6 14,-9 12,-6 29,-9 51,-9 63,0 94,26 94,78l0 151 -44 0zm-1 -99l-53 0c-28,0 -41,11 -41,32 0,11 3,19 11,24 7,6 18,8 34,8 17,0 30,-3 38,-11 7,-7 11,-19 11,-35l0 -18zm-239 99l0 -186 -91 0 0 186 -45 0 0 -226 181 0 0 226 -45 0zm-255 0l0 -145 -52 104 -28 0 -54 -104 0 145 -45 0 0 -226 45 0 68 135 67 -135 45 0 0 226 -46 0zm-241 -114c0,11 -1,22 -2,30 -1,9 -2,17 -4,25 -2,7 -5,13 -8,19 -4,6 -8,11 -13,16 -17,18 -40,27 -68,27 -27,0 -50,-9 -67,-27 -10,-10 -16,-22 -21,-35 -4,-14 -6,-32 -6,-54 0,-22 2,-40 6,-53 5,-14 11,-26 21,-36 17,-18 40,-27 67,-27 28,0 51,9 68,27 10,10 17,22 21,35 4,14 6,31 6,53zm-46 2c0,-14 -1,-27 -3,-37 -1,-10 -5,-18 -11,-24 -4,-5 -9,-8 -15,-11 -5,-3 -12,-4 -20,-4 -7,0 -14,1 -20,4 -5,3 -10,6 -15,11 -5,7 -9,16 -11,26 -1,10 -2,22 -2,36 0,15 1,27 3,36 3,10 6,17 11,23 8,10 20,14 34,14 8,0 15,-1 20,-4 6,-2 11,-6 15,-11 6,-6 9,-14 11,-24 2,-10 3,-22 3,-35zm-233 112l-64 -100 -33 37 0 63 -46 0 0 -226 46 0 0 108 90 -108 56 0 -83 93 90 133 -56 0zm-365 0l0 -20c-5,5 -9,9 -14,12 -4,2 -9,5 -13,6 -5,2 -10,3 -16,4 -5,0 -11,1 -17,1 -26,0 -45,-6 -59,-18 -13,-12 -20,-29 -20,-51 0,-20 7,-36 21,-48 13,-12 32,-17 57,-17l60 0 0 -17c0,-15 -4,-26 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -6,3 -9,6 -3,2 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 9,-6 14,-9 13,-6 29,-9 51,-9 63,0 95,26 95,78l0 151 -45 0zm-1 -99l-53 0c-27,0 -41,11 -41,32 0,11 4,19 11,24 7,6 18,8 34,8 18,0 30,-3 38,-11 8,-7 11,-19 11,-35l0 -18zm-239 99l0 -186 -90 0 0 186 -46 0 0 -226 181 0 0 226 -45 0zm-254 0l0 -186 -90 0 0 186 -46 0 0 -226 182 0 0 226 -46 0zm-275 46c-6,15 -14,26 -24,34 -10,7 -23,10 -39,10l-18 0 0 -41 11 0c9,0 16,-1 21,-5 5,-3 9,-9 12,-19l12 -35 -79 -216 48 0 55 160 52 -160 49 0 -100 272zm-133 -158c0,25 -2,44 -6,59 -4,15 -10,27 -19,36 -14,13 -33,20 -57,20 -13,0 -24,-2 -32,-6 -8,-4 -17,-10 -26,-20l0 115 -45 0 0 -318 44 0 0 24c5,-5 9,-9 13,-12 5,-4 9,-6 13,-9 5,-2 10,-3 15,-4 5,-1 11,-2 18,-2 20,0 37,5 50,15 13,9 22,24 27,44 2,8 3,16 4,25 0,8 1,19 1,33zm-46 -1c0,-27 -4,-46 -11,-58 -7,-11 -19,-17 -36,-17 -18,0 -31,7 -38,22 -3,6 -5,13 -7,22 -1,9 -2,20 -2,33 0,26 4,45 11,56 7,12 20,17 36,17 17,0 29,-5 36,-17 8,-12 11,-31 11,-58zm-282 -73l0 186 -46 0 0 -226 147 0 0 40 -101 0z"/>
 					</g>
				</svg>
			</a>
		</div>
		<div class="header__top">
			<div class="header__info header-info">
				<a href="#" class="header__phone header-info__link"><i class="fa fa-phone header__info-icon"
						aria-hidden="true"></i>8 (8172) 70-68-70</a>
				<a href="#" class="header__email header-info__link"><i class="fa fa-envelope-o header__info-icon"
						aria-hidden="true"></i>ROP@VECTORM8.RU</a>
			</div>
			<div class="header__socialLinks social-links">
				<a href="https://www.facebook.com/people/%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87/100028054223640" class="social-links__item" target="_blank"><i class="fa fa-facebook social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://vk.com/vectorm8" class="social-links__item" target="_blank"><i class="fa fa-vk social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://twitter.com/qfYBs1TOPPFOnws" class="social-links__item" target="_blank"><i class="fa fa-twitter social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://instagram.com/vectorm8" class="social-links__item" target="_blank"><i class="fa fa-instagram social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/channel/UCft4VaW2QvHTcHXnZIXqQhQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber" class="social-links__item" target="_blank"><i class="fa fa-youtube-play social-links__icon"
						aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="header__low">
			<nav class="header-nav">
				<a href="#" class="header-nav__link">Главная</a>
				<a href="#products" class="header-nav__link">Продукты</a>
				<a href="/gallery" class="header-nav__link">Фотогалерея</a>
				<a href="/articles" class="header-nav__link">Статьи</a>
				<a href="#contacts" class="header-nav__link">Контакты</a>
			</nav>
		</div>
		</div>
		
	</header>

	<main>
		<div class="mobile-header">
			
			<div class="mobile-header__wrapper">
				<a href="#" class="mobile-logo_link">
					<svg class="logo__text" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35mm" height="23mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 3500 2300"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <path class="fil0" d="M350 466c0,-18 -5,-32 -16,-43 -11,-10 -26,-15 -44,-15l-112 0 0 118 112 0c18,0 33,-5 44,-16 11,-11 16,-25 16,-44zm-9 -261c0,-17 -6,-31 -16,-41 -10,-9 -25,-14 -44,-14l-103 0 0 109 103 0c19,0 34,-4 44,-14 10,-10 16,-23 16,-40zm174 272c0,30 -4,57 -14,82 -10,24 -24,45 -42,62 -19,17 -41,30 -66,39 -26,10 -55,14 -87,14l-293 0 0 -673 278 0c33,0 63,5 89,14 27,8 49,21 68,37 18,17 33,37 43,60 10,23 15,49 15,78 0,31 -6,57 -17,78 -11,22 -30,42 -57,61 31,19 52,40 65,63 12,22 18,51 18,85zm115 197l0 -673 457 0 0 148 -292 0 0 112 250 0 0 148 -250 0 0 118 292 0 0 147 -457 0zm950 0l-155 -276 -57 66 0 210 -163 0 0 -673 163 0 0 239 195 -239 202 0 -230 273 238 400 -193 0zm552 -525l0 525 -166 0 0 -525 -165 0 0 -148 496 0 0 148 -165 0zm587 161c0,-33 -2,-60 -6,-84 -4,-24 -10,-42 -19,-54 -16,-19 -38,-29 -66,-29 -28,0 -50,10 -66,29 -9,12 -15,30 -19,54 -4,24 -6,51 -6,84l0 46c0,43 2,75 6,97 4,22 10,38 19,49 16,21 38,31 66,31 13,0 26,-3 37,-8 12,-6 22,-13 29,-23 9,-11 15,-27 19,-49 4,-22 6,-54 6,-97l0 -46zm165 28c0,24 0,49 0,72 -1,24 -3,47 -7,69 -4,23 -11,44 -20,65 -10,22 -23,42 -41,60 -48,51 -110,76 -187,76 -78,0 -141,-25 -189,-76 -17,-17 -30,-36 -40,-56 -9,-20 -16,-41 -20,-63 -4,-21 -7,-43 -7,-64 -1,-22 -1,-43 -1,-64l0 -43c0,-32 1,-61 3,-85 2,-25 6,-46 11,-65 5,-19 12,-36 21,-50 9,-15 20,-29 33,-43 48,-50 110,-75 187,-75 78,0 141,25 189,75 24,25 41,53 52,85 11,33 16,73 16,122l0 60zm445 -120c0,-20 -6,-36 -20,-49 -13,-13 -31,-19 -51,-19l-94 0 0 136 94 0c20,0 38,-7 51,-19 14,-13 20,-30 20,-49zm166 0c0,31 -6,60 -17,87 -12,26 -27,49 -48,68 -20,20 -45,35 -73,45 -28,11 -58,16 -92,16l-101 0 0 240 -165 0 0 -673 266 0c34,0 64,6 92,16 28,11 53,26 73,45 21,20 36,42 48,69 11,26 17,55 17,87z"/>
  <polygon class="fil0" points="935,2294 935,1657 747,1986 538,1986 349,1657 349,2294 22,2294 22,964 344,964 642,1551 941,964 1262,964 1262,2294 "/>
  <polygon class="fil0" points="1606,1887 1606,1599 2219,1599 2219,1887 "/>
  <path class="fil0" d="M3090 1894c0,-40 -13,-73 -40,-100 -26,-27 -59,-41 -99,-41 -38,0 -71,14 -98,41 -27,27 -40,60 -40,98 0,38 13,71 40,98 27,27 60,41 98,41 37,0 70,-14 98,-41 27,-27 41,-59 41,-96zm-13 -528c0,-36 -12,-66 -36,-90 -24,-25 -54,-38 -90,-38 -35,0 -65,13 -89,37 -24,24 -36,54 -36,89 0,36 12,66 36,90 24,24 54,36 89,36 35,0 65,-12 89,-36 25,-24 37,-53 37,-88zm169 250c55,45 94,88 115,132 22,43 33,95 33,157 0,60 -11,115 -32,165 -21,49 -50,91 -88,126 -39,34 -85,61 -140,80 -55,19 -116,29 -183,29 -66,0 -127,-10 -182,-29 -55,-19 -101,-46 -140,-80 -38,-35 -68,-77 -89,-125 -21,-49 -31,-104 -31,-164 0,-80 21,-149 63,-206 11,-15 22,-28 33,-40 11,-11 29,-26 52,-45 -49,-43 -84,-85 -105,-125 -20,-40 -30,-88 -30,-143 0,-56 11,-107 32,-153 22,-46 52,-87 90,-121 38,-35 84,-62 136,-81 53,-19 110,-29 171,-29 62,0 119,10 172,29 52,19 97,46 136,81 38,34 68,75 90,121 21,46 32,97 32,153 0,55 -10,103 -31,143 -20,40 -55,82 -104,125z"/>
 </g>
</svg>
				</a>
				<div class="header__burger" id="burger">
					<span class="burger-btn"></span>
				</div>
				<nav class="mobile-nav">
					<a href="#" class="mobile-nav__link">Главная</a>
					<a href="#products" class="mobile-nav__link">Продукты</a>
					<a href="/gallery" class="mobile-nav__link">Фотогалерея</a>
					<a href="/articles" class="mobile-nav__link">Статьи</a>
					<a href="#contacts" class="mobile-nav__link">Контакты</a>
					<a href="/login" class="mobile-nav__link">Вход</a>
					<a href="/register" class="mobile-nav__link">Регистрация</a>
					<div class="mobile-social-links">
						<a href="https://www.facebook.com/people/%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87/100028054223640" class="mobile-social-links__item" target="_blank"><i class="fa fa-facebook social-links__icon"
						aria-hidden="true"></i></a>
						<a href="https://vk.com/vectorm8" class="mobile-social-links__item" target="_blank"><i class="fa fa-vk social-links__icon"
								aria-hidden="true"></i></a>
						<a href="https://twitter.com/qfYBs1TOPPFOnws" class="mobile-social-links__item" target="_blank"><i class="fa fa-twitter social-links__icon"
								aria-hidden="true"></i></a>
						<a href="https://instagram.com/vectorm8" class="mobile-social-links__item" target="_blank"><i class="fa fa-instagram social-links__icon"
								aria-hidden="true"></i></a>
						<a href="https://www.youtube.com/channel/UCft4VaW2QvHTcHXnZIXqQhQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber" class="mobile-social-links__item" target="_blank"><i class="fa fa-youtube-play social-links__icon"
								aria-hidden="true"></i></a>
					</div>
				</nav>
			</div>
			
		</div>
		
		<section class="poster padding-site">
				<div class="poster__logo logo">
					<svg class="logo__svg_poster" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35mm" height="56mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
					viewBox="0 0 3500 5600"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
					<g id="Слой_x0020_1">
					<metadata id="CorelCorpID_0Corel-Layer"/>
					<g id="_2078234789232">
					<path class="fil1" d="M1111 2c-75,194 -153,390 -236,583 -83,194 -171,388 -262,581 -92,195 -188,389 -287,582 -101,195 -207,388 -313,582 125,0 251,0 377,0 60,-194 120,-388 180,-582 60,-194 120,-388 180,-582 61,-194 121,-387 181,-581 60,-194 121,-389 180,-583z"/>
					<path class="fil1" d="M2344 2c80,194 162,389 248,583 87,194 179,388 274,581 96,195 196,389 299,582 105,195 214,388 326,582 -126,0 -252,0 -378,0 -65,-194 -128,-388 -192,-582 -64,-193 -128,-388 -192,-582 -64,-194 -128,-388 -192,-581 -64,-194 -128,-389 -193,-583z"/>
					<path class="fil1" d="M2154 2330c-13,-130 -27,-260 -41,-390 -13,-129 -27,-260 -40,-390 -206,0 -411,0 -617,0 -9,130 -19,261 -28,390 -10,130 -19,260 -29,390 252,0 503,0 755,0z"/>
					<path class="fil1" d="M2055 1382c-12,-118 -25,-236 -37,-354 -13,-117 -25,-236 -37,-354 77,0 154,0 230,0 -95,-112 -185,-222 -265,-336 -77,-110 -144,-223 -206,-336 -59,113 -122,227 -196,336 -76,115 -163,224 -255,336 77,0 154,0 231,0 -9,118 -18,237 -26,354 -9,118 -17,236 -26,354 196,0 391,0 587,0z"/>
					<path class="fil0" d="M350 3161c0,-18 -5,-33 -16,-43 -11,-11 -26,-16 -44,-16l-112 0 0 118 112 0c18,0 33,-5 44,-16 11,-10 16,-25 16,-43zm-9 -262c0,-17 -6,-30 -16,-40 -10,-10 -25,-15 -44,-15l-103 0 0 110 103 0c19,0 34,-5 44,-15 10,-10 16,-23 16,-40zm174 272c0,31 -4,58 -14,82 -10,24 -24,45 -42,62 -19,17 -41,30 -66,40 -26,9 -55,14 -87,14l-293 0 0 -673 278 0c33,0 63,4 89,13 27,9 49,21 68,38 18,16 33,36 43,59 10,24 15,50 15,79 0,30 -6,56 -17,78 -11,22 -30,42 -57,61 31,19 52,40 65,62 12,23 18,51 18,85zm115 198l0 -673 457 0 0 147 -292 0 0 113 250 0 0 147 -250 0 0 118 292 0 0 148 -457 0zm950 0l-155 -276 -57 65 0 211 -163 0 0 -673 163 0 0 238 195 -238 202 0 -230 272 238 401 -193 0zm552 -526l0 526 -166 0 0 -526 -165 0 0 -147 496 0 0 147 -165 0zm587 161c0,-32 -2,-60 -6,-84 -4,-23 -10,-41 -19,-53 -16,-20 -38,-29 -66,-29 -28,0 -50,9 -66,29 -9,12 -15,30 -19,53 -4,24 -6,52 -6,84l0 46c0,43 2,75 6,97 4,22 10,38 19,50 16,20 38,30 66,30 13,0 26,-3 37,-8 12,-5 22,-13 29,-22 9,-12 15,-28 19,-50 4,-22 6,-54 6,-97l0 -46zm165 28c0,25 0,49 0,73 -1,23 -3,46 -7,69 -4,22 -11,44 -20,65 -10,21 -23,41 -41,60 -48,50 -110,76 -187,76 -78,0 -141,-26 -189,-76 -17,-18 -30,-37 -40,-57 -9,-20 -16,-41 -20,-62 -4,-22 -7,-43 -7,-65 -1,-22 -1,-43 -1,-64l0 -42c0,-33 1,-62 3,-86 2,-24 6,-46 11,-65 5,-18 12,-35 21,-50 9,-14 20,-28 33,-42 48,-51 110,-76 187,-76 78,0 141,25 189,76 24,24 41,53 52,85 11,32 16,73 16,122l0 59zm445 -120c0,-19 -6,-35 -20,-48 -13,-13 -31,-20 -51,-20l-94 0 0 136 94 0c20,0 38,-6 51,-19 14,-13 20,-29 20,-49zm166 0c0,32 -6,61 -17,87 -12,27 -27,50 -48,69 -20,19 -45,34 -73,45 -28,10 -58,16 -92,16l-101 0 0 240 -165 0 0 -673 266 0c34,0 64,5 92,16 28,11 53,26 73,45 21,19 36,42 48,68 11,27 17,56 17,87z"/>
					<polygon class="fil0" points="935,4988 935,4351 747,4680 538,4680 349,4351 349,4988 22,4988 22,3659 344,3659 642,4245 941,3659 1262,3659 1262,4988 "/>
					<polygon class="fil0" points="1606,4581 1606,4294 2219,4294 2219,4581 "/>
					<path class="fil0" d="M3090 4588c0,-39 -13,-73 -40,-100 -26,-27 -59,-40 -99,-40 -38,0 -71,13 -98,40 -27,27 -40,60 -40,98 0,39 13,71 40,99 27,27 60,40 98,40 37,0 70,-13 98,-40 27,-28 41,-60 41,-97zm-13 -527c0,-36 -12,-66 -36,-91 -24,-25 -54,-37 -90,-37 -35,0 -65,12 -89,36 -24,24 -36,54 -36,90 0,36 12,66 36,90 24,24 54,36 89,36 35,0 65,-12 89,-36 25,-24 37,-54 37,-88zm169 250c55,44 94,88 115,131 22,43 33,96 33,157 0,61 -11,116 -32,165 -21,50 -50,91 -88,126 -39,35 -85,61 -140,81 -55,19 -116,28 -183,28 -66,0 -127,-9 -182,-28 -55,-20 -101,-46 -140,-81 -38,-35 -68,-76 -89,-125 -21,-49 -31,-103 -31,-164 0,-80 21,-149 63,-205 11,-15 22,-28 33,-40 11,-12 29,-27 52,-45 -49,-44 -84,-85 -105,-125 -20,-40 -30,-88 -30,-144 0,-55 11,-106 32,-153 22,-46 52,-86 90,-121 38,-34 84,-61 136,-80 53,-20 110,-29 171,-29 62,0 119,9 172,29 52,19 97,46 136,80 38,35 68,75 90,121 21,47 32,98 32,153 0,56 -10,104 -31,144 -20,40 -55,81 -104,125z"/>
					<path class="fil1" d="M3456 5195c-3,20 -11,35 -22,46 -12,11 -29,16 -50,16 -22,0 -39,-5 -50,-16 -12,-11 -19,-26 -22,-46l32 0c2,8 6,15 12,21 7,5 16,8 28,8 12,0 21,-3 27,-8 6,-6 10,-13 12,-21l33 0zm-24 321l0 -156 -97 156 -45 0 0 -227 45 0 0 154 97 -154 46 0 0 227 -46 0zm-260 0l0 -156 -97 156 -46 0 0 -227 46 0 0 154 97 -154 45 0 0 227 -45 0zm-261 0l0 -97 -90 0 0 97 -46 0 0 -227 46 0 0 90 90 0 0 -90 46 0 0 227 -46 0zm-250 0l0 -21c-5,5 -10,9 -14,12 -4,3 -9,5 -14,7 -4,1 -9,2 -15,3 -5,0 -11,1 -18,1 -25,0 -44,-6 -58,-18 -14,-12 -20,-29 -20,-51 0,-20 7,-36 20,-48 14,-11 33,-17 57,-17l61 0 0 -17c0,-15 -4,-25 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -7,3 -9,6 -3,3 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 8,-6 14,-9 12,-6 29,-9 51,-9 63,0 94,26 94,78l0 152 -44 0zm-1 -100l-53 0c-28,0 -41,11 -41,32 0,11 3,19 11,24 7,6 18,8 34,8 17,0 30,-3 38,-11 7,-7 11,-19 11,-35l0 -18zm-239 100l0 -187 -91 0 0 187 -45 0 0 -227 181 0 0 227 -45 0zm-255 0l0 -146 -52 104 -28 0 -54 -104 0 146 -45 0 0 -227 45 0 68 135 67 -135 45 0 0 227 -46 0zm-241 -115c0,11 -1,22 -2,31 -1,8 -2,16 -4,24 -2,7 -5,13 -8,19 -4,6 -8,11 -13,16 -17,18 -40,27 -68,27 -27,0 -50,-9 -67,-27 -10,-10 -16,-22 -21,-35 -4,-14 -6,-32 -6,-54 0,-22 2,-40 6,-53 5,-14 11,-26 21,-36 17,-18 40,-27 67,-27 28,0 51,9 68,27 10,10 17,22 21,35 4,14 6,31 6,53zm-46 2c0,-14 -1,-27 -3,-36 -1,-10 -5,-19 -11,-25 -4,-5 -9,-8 -15,-11 -5,-3 -12,-4 -20,-4 -7,0 -14,1 -20,4 -5,3 -10,6 -15,11 -5,7 -9,16 -11,26 -1,11 -2,22 -2,36 0,15 1,27 3,36 3,10 6,17 11,23 8,10 20,15 34,15 8,0 15,-2 20,-4 6,-3 11,-7 15,-12 6,-6 9,-14 11,-24 2,-10 3,-22 3,-35zm-233 113l-64 -101 -33 37 0 64 -46 0 0 -227 46 0 0 108 90 -108 56 0 -83 93 90 134 -56 0zm-365 0l0 -21c-5,5 -9,9 -14,12 -4,3 -9,5 -13,7 -5,1 -10,2 -16,3 -5,0 -11,1 -17,1 -26,0 -45,-6 -59,-18 -13,-12 -20,-29 -20,-51 0,-20 7,-36 21,-48 13,-11 32,-17 57,-17l60 0 0 -17c0,-15 -4,-25 -12,-32 -8,-7 -21,-10 -39,-10 -12,0 -22,2 -30,6 -3,1 -6,3 -9,6 -3,3 -6,6 -9,10l-30 -28c6,-7 11,-12 15,-15 4,-4 9,-6 14,-9 13,-6 29,-9 51,-9 63,0 95,26 95,78l0 152 -45 0zm-1 -100l-53 0c-27,0 -41,11 -41,32 0,11 4,19 11,24 7,6 18,8 34,8 18,0 30,-3 38,-11 8,-7 11,-19 11,-35l0 -18zm-239 100l0 -187 -90 0 0 187 -46 0 0 -227 181 0 0 227 -45 0zm-254 0l0 -187 -90 0 0 187 -46 0 0 -227 182 0 0 227 -46 0zm-275 45c-6,15 -14,26 -24,34 -10,7 -23,10 -39,10l-18 0 0 -41 11 0c9,0 16,-1 21,-4 5,-4 9,-10 12,-19l12 -36 -79 -216 48 0 55 160 52 -160 49 0 -100 272zm-133 -158c0,25 -2,44 -6,59 -4,15 -10,27 -19,36 -14,13 -33,20 -57,20 -13,0 -24,-2 -32,-6 -8,-3 -17,-10 -26,-20l0 115 -45 0 0 -318 44 0 0 24c5,-5 9,-9 13,-12 5,-4 9,-6 13,-8 5,-3 10,-4 15,-5 5,-1 11,-2 18,-2 20,0 37,5 50,15 13,10 22,24 27,44 2,8 3,16 4,25 0,9 1,20 1,33zm-46 -1c0,-27 -4,-46 -11,-58 -7,-11 -19,-17 -36,-17 -18,0 -31,7 -38,22 -3,6 -5,13 -7,22 -1,9 -2,20 -2,33 0,26 4,45 11,56 7,12 20,18 36,18 17,0 29,-6 36,-18 8,-11 11,-31 11,-58zm-282 -73l0 187 -46 0 0 -227 147 0 0 40 -101 0z"/>
					</g>
					</g>
					</svg>
				</div>
				<!--
				<h1 class="poster__title">Вектор М-8</h1>
				-->
				<div class="poster__description">
					<p class="poster__text">Контроль над вашим транспортом</p>
					<p class="poster__text">Эффективное управление автопарком вашей компании</p>
				</div>
		</section>

		<section class="products padding-site">
			<a name="products"></a>
			<h3 class="title products__title">Продукты и&nbsp;услуги для&nbsp;эффективного управления вашим автопарком</h3>
			<div class="products__list">
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/fuelControlSystem.jpg" alt="fuel_control_system" class="product__image product__image_fuel-control">
					</a>
					<a href="#" class="button product__button"><span class="button__text">Система мониторинга расхода топлива</span></a>
				</div>
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/gasStationMonitor.jpg" alt="gas_station_monitoring" class="product__image product__image_gas-monitoring">
					</a>
					<a href="#" class="button product__button"><span class="button__text">Система мониторинга АЗС</span></a>
				</div>
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/camera.png" alt="video_control" class="product__image">
					</a>
					<a href="#" class="button product__button"><span class="button__text">Видеоконтроль транспорта</span></a>
				</div>
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/agronavigator.png" alt="agronavigation" class="product__image product__image_agronavigator">
					</a>
					<a href="#" class="button product__button"><span class="button__text">Агронавигатор. Система точного земледелия</span></a>
				</div>
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/driverControlSystem.jpg" alt="driver's_control_system" class="product__image product__image_drivers-controll">
					</a>
					<a href="#" class="button product__button"><span class="button__text">Система интерактивного контроля водителей</span></a>
				</div>
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/flasher.png" alt="flasher" class="product__image">
					</a>
					<a href="#" class="button product__button"><span class="button__text">Проблесковый маяк</span></a>
				</div>
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/era_glonass.jpg" alt="era_glonass" class="product__image">
					</a>
					<a href="#" class="button product__button"><span class="button__text">ЭРА-ГЛОНАСС</span></a>
				</div>
				<div class="product">
					<a href="#" class="product__link">
						<img src="../img/products/tirePressureControlSystem.png" alt="tire_pressure_control" class="product__image
						product__image_tire-control">
					</a>
					<a href="#" class="button product__button"><span class="button__text">Система контроля давления в шинах</span></a>
				</div>
			</div>

		</section>
		<section class="ready-solutions padding-site">
			<h4 class="title ready-solutions__title">Готовые решения</h4>
			<div class="ready-solutions__content">
				<div class="solution">
					<a href="#" class="solution__link"><img src="../img/digitalAgro.jpg" alt="digitalAgro" class="solution__img"></a>
					<a href="#" class="button"><span class="button__text">Цифровое сельское хозяйство</span></a>
				</div>
				<div class="solution">
					<a href="#" class="solution__link"><img src="../img/digitalAgro.jpg" alt="digitalAgro" class="solution__img"></a>
					<a href="#" class="button"><span class="button__text">Цифровое сельское хозяйство</span></a>
				</div>
				<div class="solution">
					<a href="#" class="solution__link"><img src="../img/digitalAgro.jpg" alt="digitalAgro" class="solution__img"></a>
					<a href="#" class="button"><span class="button__text">Цифровое сельское хозяйство</span></a>
				</div>
			</div>
		</section>
		<section class="advantages">
			<h4 class="title advantages__title">Ключевые преимущества нашей компании</h4>
			<div class="advantages__content padding-site">
				<div class="advantages-item__circle"></div>
				<div class="advantages-item__circle"></div>
				<div class="advantages-item__circle"></div>
				<div class="advantages-item__circle"></div>
				<div class="advantages-item">
					<h5 class="advantages-item__title">Качественный монтаж</h5>
					<p class="advantages-item__paragraph">В&nbsp;нашей компании работают только квалифицированные специалисты, за&nbsp;плечами которых сотни единиц оснащенной техники. Опыт специалиста&nbsp;&mdash; это ключевой фактор в&nbsp;наше сфере.</p>
				</div>
				<div class="advantages-item">
					<h5 class="advantages-item__title">Широкая сеть центров сервисного обслуживания</h5>
					<p class="advantages-item__paragraph">Компания Вектор М-8 имеет возможность осуществлять монтажи и&nbsp;оперативное сервисное обслуживание на&nbsp;очень обширной территории.: в&nbsp;Вологодской области, Архангельской области, Ярославской области, Костромской области, Ленинградской области, Республике Карелия.</p>
				</div>
				<div class="advantages-item">
					<h5 class="advantages-item__title">Продвинутое аналитическое обслуживание</h5>
					<p class="advantages-item__paragraph">Наша компания предлагает клиентам широкий перечень аналитических услуг: ведение отчетности; хронометражи; настройка автоматизированных систем управления, рейтингов работы&nbsp;ТС и&nbsp;пр.</p>
				</div>
				<div class="advantages-item">
					<h5 class="advantages-item__title">Обучение</h5>
					<p class="advantages-item__paragraph">Мы&nbsp;предлагаем клиентам различные типы обучения специалистов работе в&nbsp;ПО, исходя из&nbsp;специфики деятельности.</p>
				</div>
			</div>
		</section>
		<section class="clients padding-site">
			<h4 class="title clients__title">Наши клиенты</h4>
			<div class = "clients__accordeon">
				<div class="clients__accordeon_visible clients__content_3cols">
					<a href="http://mti-termosteps.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/termosteps.webp" alt="Термостепс" class="clients__logo"></a>
					<a href="http://www.cherles.com/" target="_blank" class="clients__link"><img src="../img/clientsLogo/cherepovetcLes.webp" alt="Череповецлес" class="clients__logo clients__logo_cherepovetcles"></a>
					<a href="https://alfastroy35.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/alfaStroy.webp" alt="АльфаСтрой" class="clients__logo"></a>
				</div>
				<div class="clients__accordeon_openWrapper">
						<i class="fa fa-sort-desc clients__accordeon_openArrow" aria-hidden="true"></i>
				</div>
				<div class="clients__accordeon_hidden hidden">
					<div class="clients__content_3cols">	
						<a href="https://www.tdsot.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/stroyOptTorg.webp" alt="СтройОптТорг" class="clients__logo"></a>
						<a href="https://www.lestradespb.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/lestreid.webp" alt="ЛесТрейд" class="clients__logo"></a>
						<a href="https://aptekaantey.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/antey.webp" alt="Антей" class="clients__logo clients__logo_antey"></a>
						<a href="#" target="_blank" class="clients__link"><img src="../img/clientsLogo/velskAgro.webp" alt="Вельск" class="clients__logo"></a>
						<a href="http://vologdascan.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/vologdaSkan.webp" alt="Vologdascan" class="clients__logo"></a>
						<a href="http://vtor-res.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/vtorRes.webp" alt="Вторресурсы" class="clients__logo clients__logo_vtorres"></a>
					</div>
					<div class="clients__content_4cols">
						<a href="#" target="_blank" class="clients__link"><img src="../img/clientsLogo/vologdaLes.webp" alt="Вологодский лес" class="clients__logo clients__logo_vologdales"></a>
						<a href="http://nlpk.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/novatorskiy.webp" alt="Новаторский ЛПК" class="clients__logo"></a>
						<a href="http://soldek.su/?lang=ru" target="_blank" class="clients__link"><img src="../img/clientsLogo/soldek.webp" alt="Солдек" class="clients__logo clients__logo_soldek"></a>
						<a href="http://mtrade29.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/metalTreiding.webp" alt="Металл трейдинг" class="clients__logo"></a>
						<a href="https://biolesprom.com/" target="_blank" class="clients__link"><img src="../img/clientsLogo/bioLesProm.webp" alt="Биолеспром" class="clients__logo clients__logo_biolesprom"></a>
						<a href="http://www.titangroup.ru/" target="_blank" class="clients__link"><img src="../img/clientsLogo/titan.png" alt="Титан" class="clients__logo"></a>
						<a href="#" target="_blank" class="clients__link"><img src="../img/clientsLogo/tehnoStroy.webp" alt="Технострой" class="clients__logo"></a>
						<a href="#" target="_blank" class="clients__link"><img src="../img/clientsLogo/tarnogaLes.webp" alt="Тарнога лес" class="clients__logo"></a>
					</div>
					<div class="clients__accordeon_closeWrapper">
						<i class="fa fa-sort-asc clients__accordeon_closeArrow" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</section>
		<section class="partners padding-site">
			<h4 class="title partners__title">Наши партнеры</h4>
			<div class="partners__content partners__accordeon">
				<div class="partners__line partners__accordeon_visible">
					<div class="partner-item" title="Рекламное агенство">
						<a href="http://vologda.megafon.ru/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/megafon.webp" alt="Мегафон Вологда" class="partner-item__img partner-item__img_megafon"></a><a href="http://vologda.megafon.ru/" target="_blank" class="partner-item__title">Мегафон Вологда</a>
					</div>
					<div class="partner-item">
						<a href="https://www.ms35.ru/#" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/sphere.webp" alt="Сфера" class="partner-item__img partner-item__img_sphere"></a><a href="https://www.ms35.ru/#" target="_blank" class="partner-item__title">Медиа Сфера</a>
					</div>
					<div class="partner-item" title="М2М технологии">
						<a href="https://www.goodline.ru/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/goodline.webp" alt="Гудлайн" class="partner-item__img"></a><a href="https://www.goodline.ru/" target="_blank" class="partner-item__title">ГудЛайн</a>
					</div>
					<div class="partner-item" title="Производитель систем точного земледелия">
						<a href="https://agroglobal.pro/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/agroglobal.png" alt="Агроглобал" class="partner-item__img"></a><a href="https://agroglobal.pro/" target="_blank" class="partner-item__title">Agroglobal</a>
					</div>
				</div>
				<div class="partners__accordeon_openWrapper">
						<i class="fa fa-sort-desc partners__accordeon_openArrow" aria-hidden="true"></i>
				</div>
				<div class="partners__accordeon_hidden hidden">
					<div class="partners__line">
						<div class="partner-item" title="Производство оборудования для точного контроля и учета рабочего времени">
							<a href="http://exzotron.ru/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/exzotron.png" alt="exzotron" class="partner-item__img"></a><a href="http://exzotron.ru/" target="_blank" class="partner-item__title">Экзотрон Технолоджи</a>
						</div>
						<div class="partner-item" title="Грузовая техника в Вологде">
							<a href="http://vts35.ru/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/BTS.jpg" alt="ВологдаТракСервис" class="partner-item__img"></a><a href="http://vts35.ru/" target="_blank" class="partner-item__title">ВологдаТракСервис</a>
						</div>
						<div class="partner-item" title="Официальный дистрибьютор Komatsu">
							<a href="https://istk.ru/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/istk.png" alt="ИСТК" class="partner-item__img"></a><a href="https://istk.ru/" target="_blank" class="partner-item__title">ИСТК</a>
						</div>
						<div class="partner-item">
							<a href="https://baltlease.ru/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/baltLising.jpg" alt="Балтийский лизинг" class="partner-item__img"></a><a href="https://baltlease.ru/" target="_blank" class="partner-item__title">Балтийский лизинг</a>
						</div>
					</div>
					<div class="partners__line" title="Мобильные топливные емкости">
						<div class="partner-item">
							<a href="http://foresttank.ru/" target="_blank" class="partner-item__link"><img src="../img/partnersLogo/forestTank.jpg" alt="foresttank" class="partner-item__img partner-item__img_foresttank"></a><a href="http://foresttank.ru/" target="_blank" class="partner-item__title">Forest Tank</a>
						</div>
					</div>
					<div class="partners__accordeon_closeWrapper">
						<i class="fa fa-sort-asc partners__accordeon_closeArrow" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</section>

		<section class="channel">
			<h4 class="title channel__title">Наш канал</h4>
			<div class="channel__content">
				<iframe width="560" height="315" class="channel__video" src="https://www.youtube.com/embed/YrWLBJ-xqjo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</section>

		<section class="contacts padding-site">
			<a name="contacts"></a>
			<h4 class="title contacts__title">Контакты</h4>
			<div class="contacts__info">
				<p class="contacts__item contacts__item_phone">8 (8172) 70-68-70</p>
				<p class="contacts__item contacts__item_adress">г. Вологда, ул. Советский пр-т, д. 125 Б, 4 этаж</p>
				<p class="contacts__item contacts__item_mail">rop@vectorm8.ru</p>
			</div>
			<div class="contacts__map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A55366d756ce8ae939475b7387ff25fcdc18828a663ed5dc82a21641095546707&amp;source=constructor" width="840" height="400" frameborder="0"></iframe>
			</div>
		</section>

		<section class="feedback padding-site">
			<h4 class="feedback__title title">Задайте вопрос и&nbsp;оставьте свои контактные данные.</h4>
			<h5 class="feedback__subtitle">Наш менеджер свяжется с&nbsp;Вами</h5>
			<div class="feedback__content">
				<form action="#" class="form feedback__form">
					<input type="text" required name="name" title="Введите имя" class="name-input" placeholder="Имя*" pattern="^[a-zA-ZА-Яа-яЁё\s]+$">
					<input type="email" name="email" required title="Введите email" class="email-input" placeholder="Email*">
					<input type="tel" required name="phone" title="Введите номер телефона" class="phone-input" placeholder="+1 (234) 567 89 99*">
					<textarea name="text-input" id="text-area" required cols="30" rows="4" placeholder="Ваше сообщение*" class="text-input"></textarea>
					<p class="form__concent"><input type="checkbox" id="concent" name="concent" class="concent-checkbox"><label for="concent" class="consent-label">Я согласен на обработку</label> <a href="/privacy_policy" class="consent-link">персональных данных</a> <label for="concent" class="consent-label">и с условиями</label> <a href="/user_agreement" class="consent-link">пользовательского соглашения</a></p>
					<button type="submit" class="button feedback__button"><span class="button__text submit-text">Отправить</span></button>
				</form>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="footer__text footer-text">
			<p class="footer-text__paragraph">ГЛОНАСС, GPS, спутниковый мониторинг транспорта.</p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">Система контроля расхода топлива.</a></p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">Система мониторинга АЗС. </a></p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">Агронавигатор.</a></p>
			<p class="footer-text__paragraph"><a href="#" class="footer-text__link">ЭРА-ГЛОНАСС.</a></p>
			<p class="footer-text__paragraph">Установка, обслуживание и&nbsp;ремонт в&nbsp;Вологодской области, Архангельской области, Ярославской области, Костромской области, Ленинградской области, Республике Карелия.</p>
		</div>
		<div class="footer__contacts footer-contacts">
			<h5 class="footer__title">Вектор М-8</h5>
			<p class="footer-contacts__item footer-contacts__item_phone">8 (8172) 70-68-70</p>
			<p class="footer-contacts__item footer-contacts__item_adress">г. Вологда, ул. Советский пр-т, д.&nbsp;125&nbsp;Б, 4&nbsp;этаж</p>
			<p class="footer-contacts__item footer-contacts__item_mail">rop@vectorm8.ru</p>
			<div class="footer__socialLinks footer-links">
				<a href="https://www.facebook.com/people/%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87/100028054223640" class="footer-links__item footer-links__item_facebook" target="_blank"><i class="fa fa-facebook social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://vk.com/vectorm8" class="footer-links__item footer-links__item_vk" target="_blank"><i class="fa fa-vk social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://twitter.com/qfYBs1TOPPFOnws" class="footer-links__item footer-links__item_twitter" target="_blank"><i class="fa fa-twitter social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/vectorm8/" class="footer-links__item footer-links__item_instagram" target="_blank"><i class="fa fa-instagram social-links__icon"
						aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/channel/UCft4VaW2QvHTcHXnZIXqQhQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber" class="footer-links__item footer-links__item_youtube" target="_blank"><i class="fa fa-youtube-play social-links__icon"
						aria-hidden="true"></i></a>
			</div>
		</div>
	</footer>
	
	<script src="/javascripts/burger.js"></script>
	<script src="/javascripts/accordeon.js"></script>
	<script src="/javascripts/profile_popup.js"></script>
	<!--<script type="text/javascript">
		VK.Widgets.Group("vk_vectorm8", {mode: 3, width: "auto", no_cover: 1}, 170593309);
	</script>-->
</div>