<form method="POST" action="/registration">
  <input type="text" name="firstname" placeholder="firstname" />
  <input type="text" name="lastname" placeholder="lastname" />
  <input type="text" name="middlename" placeholder="middlename" />
  <select name="fruits" id="doesnt matter">
    <option value="Apple">Apple</option>
    <option value="Orange">Orange</option>
    <option value="Cucumber">Cucumber</option>
  </select>
  <input type="submit" value="Ok">
</form>
