<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/fonts/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/dist/lightgallery.js/dist/css/lightgallery.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
