<div class="container">
    <header class="padding-site">
        <div class="header__top">
            <div class="leftSide">
                <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>8(8172)70-68-70</a>
                <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=rop@vectorm8.ru"><i class="fa fa-envelope-o" aria-hidden="true"></i>ROP@VECTORM8.RU</a>
            </div>
            <div class="rightSide">
                <a href="https://www.facebook.com/people/%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%92%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87/100028054223640"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://vk.com/vectorm8"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="https://twitter.com/qfYBs1TOPPFOnws"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/vectorm8/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCft4VaW2QvHTcHXnZIXqQhQ/videos?view=0&sort=dd&shelf_id=1&view_as=subscriber"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="header__lower">
            <a href="#"><img src="../public/img/Logo.png" alt="logo"></a>
            <nav class="mainNav">
                <ul class="mainNav__ul">
                    <li class="mainNav__li">
                        <a href="#" class="mainNav__link">Главная</a>
                    </li>
                    <li class="mainNav__li">
                        <a href="#" class="mainNav__link">Продукты</a>
                    </li>
                    <li class="mainNav__li">
                        <a href="#" class="mainNav__link">Фотогалерея</a>
                    </li>
                    <li class="mainNav__li">
                        <a href="#" class="mainNav__link">Статьи</a>
                    </li>
                    <li class="mainNav__li">
                        <a href="#" class="mainNav__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="strangeYellowLine"></div>
        </div>
    </header>
</div>