/*таблица*/


/*
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
}
*/

label {
    color: #444;
    font-size: 18px;
}

.input-window {
    width: 100%;
    margin: 7px 0 15px;
    background-color: #ffffff;
    width: 490px;
    height: 35px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 20px;
}

.submit-button {
    background-color: #445162;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #dedede;
    color: #445162;
    transform: scale(1.12);
    cursor: pointer;
}

.submit-button:active {
    background-color: #445162;
    color: #dedede;
}

table {
    margin: 90px 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    border: 1px solid #444;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #adadad;
}

tr:nth-child(odd) {
    background-color: #c5c5c5;
}

th {
    background-color: #e66868;
}


/*ниже стили для вёрстки главной страницы*/

/*Lizard's stiles*/

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans Regular');
	src: url(../fonts/OpenSans-Regular.woff2) format('woff2'), url(../fonts/OpenSans-Regular.woff) format('woff'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light'), local('OpenSans Light');
	src: url(../fonts/OpenSans-Light.woff2) format('woff2'), url(../fonts/OpenSans-Light.woff) format('woff'), url(../fonts/OpenSans-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold'), local('OpenSans SemiBold');
	src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2'), url(../fonts/OpenSans-SemiBold.woff) format('woff'), url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@keyframes phoneSwing {
    from {
        transform: rotate(0);
    }
    37% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(30deg);
    }
    45% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(30deg);
    }
    55% {
        transform: rotate(-20deg);
    }
    57% {
        transform: rotate(0);
    }
    to {
        transform: rotate(0);
    }
}


* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1366px;
	margin: 0 auto;
}

.padding-site {
	padding: 0 120px;
}

.header {
    position: relative;
}

.header__wrapper {
    display: grid;
	grid-template-columns: auto auto;
	padding: 20px 100px 12px;
    background-color: #000;
    filter: opacity(80%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.header__logo {
	grid-column-start: 1;
    grid-row: 1 / 3;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.logo__link {
    transition: all 0.3s;
}
.logo__link:active {
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.logo__svg_top {
    max-width: 150px;
    max-height: 100px;
    transition: all 0.2s;
}

.logo__link:hover .logo__svg_top {
	transform: scale(1.05);
	fill: #ffffff;
}

.fil1 {fill:#E7A748}
.fil0 {fill:#FEFEFE;fill-rule:nonzero}

.header__right-side {
    display: grid;
    grid-row: 1 / 3;
}

.header__top {
	grid-column:  1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
}

.header__info {
	display: flex;
    margin-left: 270px;
}

.header-info__link {
	text-decoration: none;
	color: #787E83;
	margin: 10px 15px 0;
	transition: color 0.2s;
}

.header-info__link:hover {
	color: #ffffff;
}

.header__phone {
    text-decoration: underline;
    
}

.fa-phone {
    animation: phoneSwing 3s infinite;
}

.fa-envelope-o {
    animation: phoneSwing 3.2s infinite;
}

.header__phone:hover {
    color: #ffe065;
}

.header__info-icon {
	font-size: 1.3rem;
	color: #ffffff;
	margin-right: 20px;
}

.social-links__item {
	font-size: 1.6rem;
	color: #787E83;
	margin: 10px 0 0 20px;
	transition: all 0.2s;
}

.social-links__icon {
	transition: transform 0.2s;
}

.social-links__item:hover {
	color: #ffffff;
}

.social-links__item:hover .social-links__icon {
	transform: scale(1.3);
}

.header__low {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.header-nav {
    position: relative;
}

.header-nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 1.3rem;
	margin-left: 15px;
	transition: color 0.2s, border 0.2s;
	padding: 0 7px 10px 7px;
}

/*
.profile__link {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 17px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 17px -6px rgba(0,0,0,0.75);
}*/

.header-nav__link:hover {
	color: #ffe065;
	border-bottom: 2px solid #ffe065;
}

.mobile-header {
    display: none;
}

.gallery::before,
.articles::before,
.login__wrapper::before {
    content: '';
    display: block;
    width: 100%;
    height: 137px;
    background-color: #fff;
    /*background-color: #4f5355;*/
}

@media (max-width: 1300px) {
    .header__info {
        margin-left: 180px;
    }
}

@media (max-width: 1199px) {
    .header__wrapper {
        padding: 20px 60px 12px;
    }
    .header__top {
        justify-content: space-around;
    }
    .header__info {
        margin-left: 160px;
    }
    .social-links__item {
        margin: 10px 0 0 10px;
    }
    .header-nav__link {
        padding: 0 4px 10px 4px;
    }
}

@media (max-width: 1080px) {
    .header__info {
        margin-left: 140px;
    }
    .header-nav__link {
        padding: 0 3px 10px 3px;
        font-size: 1.1rem;
    }
}

@media (max-width: 1000px) {
    .header__wrapper {
        padding: 20px 40px 20px;
    }

    .header__info {
        margin-left: 0;
    }
}

@media (max-width: 920px) {
    html {
        font-size: 14px;
    }

    .header__wrapper {
        grid-template-rows: 40px 40px;
        padding: 10px 40px 15px;
    }

    .logo__svg_top {
        max-width: 100px;
    }

    .header-info__link {
        margin: 8px 10px 0;
    }

    .header__info-icon {
        margin-right: 10px;
    }

    .header-nav__link {
        padding: 0 0 5px;
    }
}

@media (max-width: 740px) {
    body.locked {
        overflow: hidden;
    }
    .header__wrapper {
        display: none;
    }

    .mobile-header {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        padding-top: 5px;
    }

    .mobile-header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        filter: opacity(70%);
        z-index: 3;
    }

    .mobile-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 55px;
    }

    .mobile-logo_link {
        z-index: 3;
    }

    .mobile-logo_link:hover .logo__text {
        fill: #fff;
    }

    .logo__text {
        max-width: 100%;
        width: 65px;
        height: 65px;
        fill: #ffe065;
        margin: 0 12px;
        transition: fill 0.2s;
        user-select: none;
    }

    .header__burger {
        display: block;
        width: 35px;
        height: 25px;
        position: relative;
        z-index: 6;
        margin-right: 20px;
        transition: transform 0.2s;
        cursor: pointer;
    }

    .header__burger:hover {
        transform: scale(1.1);
    }
    .header__burger:active {
        transform: scale(0.95);
    }

    .header__burger.burger_active:before {
        transform: rotate(45deg);
        top: 11px;
    }

    .header__burger.burger_active:after {
        transform: rotate(-45deg);
        bottom: 11px;
    }

    .header__burger.burger_active span {
        transform: scale(0);
    }
    .header__burger:before,
    .header__burger:after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger span {
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: 11px;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }
    .mobile-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: -230%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #ffe065;
        padding: 74px 0 0 0;
        transition: top 0.3s;
    }

    .mobile-nav.burger_active {
        top: 0;
        height: 100vh;
        
    }

    .mobile-nav__link {
        text-decoration: none;
        color: #2f3133;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 400;
        padding: 7px 0 7px 12px;
        transition: background-color 0.2s;
        user-select: none;
    }
    .mobile-nav__link:hover {
        background-color: #fff;
    }
    .mobile-nav__link:active {
        background-color: #fff;
    }

    .mobile-social-links {
        display: flex;
        padding-top: 10px;
        height: 220px;
    }

    .mobile-social-links__item {
        color: #fff;
        font-size: 3.6rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        padding: 10px;
        margin: 0 5px;
        transition: transform 0.2s;
        display: block;
    }

    .mobile-social-links__item:active {
        transform: scale(0.95);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }

    .gallery::before,
    .articles::before {
        content: '';
        display: block;
        width: 100%;
        height: 55px;
        background-color: #4f5355;
    }
}

@media (max-width: 370px) {
    .mobile-social-links__item {
        font-size: 3.2rem;
        padding: 7px;
        margin: 0 5px;
    }
}

@media (max-width: 315px) {
    .mobile-social-links__item {
        font-size: 3rem;
        padding: 5px;
        margin: 0 5px;
    }
}

.toTopBtn {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 16px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 16px -5px rgba(0,0,0,0.75);
    opacity: 0;
    transition: transform 0.3s, box-shadow 0.3s;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.toTopBtn:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 3px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 18px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 18px -5px rgba(0,0,0,0.75);
}

.toTopBtn:active {
    transform: scale(0.98);
    -webkit-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.75);
}

.toTopBtn_visible {
    display: flex;
    opacity: 0.95;
}

.toTopBtn__angle {
    font-size: 2rem;
    margin: -5px auto;
}

@media (max-width: 920px) {
    .toTopBtn {
        right: 10px;
        bottom: 10px;
        transform: scale(1.1);
        -webkit-box-shadow: 0px 3px 18px -5px rgba(0,0,0,0.85);
        -moz-box-shadow: 0px 3px 18px -5px rgba(0,0,0,0.85);
        box-shadow: 0px 3px 18px -5px rgba(0,0,0,0.85);
    }

    .toTopBtn__angle {
        font-size: 2.2rem;
        margin: -5px auto;
    }
}

.poster {
    background-color: #212121;
    background-image: url("../img/full_road-car-tire.png");
    background-position: 1% 10%;
    background-repeat: no-repeat;
    background-size: 1500px, auto;
    min-height: 550px;
    padding-top: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    padding-bottom: 10px;
}



.poster__logo {
	grid-column: 3/4;
    grid-row: 1 / 2;
}

.logo__svg_poster {
    width: 320px;
    height: 340px;
}
/*
.poster__title {
    font-size: 3rem;
    color: #ffe065;
    grid-row: 2 / 4;
    align-self: center;
    grid-column: 1 / 3;
    margin-left: 180px;
    text-transform: uppercase;
}
*/
.poster__description {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-weight: 100;
}

.poster__text {
    font-size: 2.6rem;
    color: #fff;
    padding-bottom: 20px;
}

@media (max-width: 1335px) {
    .poster {
        padding: 220px 60px 10px
    }
}

@media (max-width: 1225px) {
    .poster {
        background-size: 1366px, auto;
        background-position: 20% 10%;
        min-height: 200px;
    }

    .logo__svg_poster {
        width: 250px;
        height: 300px;
    }
    /*
    .poster__title {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        margin-left: 0;
    }*/

    .poster__description {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .poster__text {
        font-size: 2.4rem;
    }
}

@media (max-width: 1150px) {
    .poster {
        padding: 200px 50px 10px;
        justify-items: center;
        background-size: 1200px, auto;
        background-position: 1% right 100px;
    }

    .logo__svg_poster {
        width: 200px;
        height: 250px;
    }

    .poster__text {
        font-size: 2rem;
    }
}

@media (max-width: 950px) {
    .poster {
        background-size: 950px;
        background-position: 20% 40%;
        padding: 180px 40px 30px;
        justify-items: left;
        min-height: 200px;
        grid-template-rows: auto;
    }

    .logo__svg_poster {
        width: 220px;
        height: 220px;
    }

    .poster__description {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin-top: 110px;
    }

    .poster__text {
        font-size: 1.8rem;
        padding-bottom: 10px;
    }
}

@media (max-width: 740px) {
    .poster {
        background-position: 82% bottom;
        padding: 30px 15px 20px;
        min-height: 150px;
        background-size: cover, auto;
        display: flex;
        flex-direction: column;
    }

    .poster__logo {
        display: none;
    }

    .poster__text {
        font-size: 1.6rem;
        color: #fff;
        text-align: center;
    }
}

.products {
    padding-top: 80px;
    padding-bottom: 30px;
}

.title {
    color: #2f3133;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
}

.products__title {
    margin-bottom: 75px;
}

.products__text {
    color: #2f3133;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 42px;
    text-transform: uppercase;
    line-height: 38px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 50px;
}

.product__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
    -webkit-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    margin-bottom: 20px;
    object-fit: contain;
}

.product__image_agronavigator {
    object-fit: cover;
}

.product__image_fuel-control {
    object-fit: contain;
    object-position: 150% 190%;
}

.product__image_drivers-controll,
.product__image_tire-control {
    object-fit: contain;
    object-position: 50% 90%;
}

.product__image:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 3px 5px 35px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 5px 35px 2px rgba(0,0,0,0.26);
    box-shadow: 3px 5px 35px 2px rgba(0,0,0,0.26);
}

.product__image:active {
    transform: scale(0.98);
    -webkit-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
}

.button {
    display: flex;
    padding: 5px 15px;
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;
    -webkit-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.26);
    box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.26);
    border-radius: 10px;
    border: 1px solid #ececec;
    background-color: #fff;
    text-align: center;
    min-height: 44px;
    max-width: 250px;
    min-width: 220px;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.button:hover {
    transform: scale(1.05);
    background: #ffe065;
    border: 1px solid #ffe065;
    -webkit-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.36);
    box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.36);
}

.button:active {
    transform: scale(0.98);
    -webkit-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.26);
    box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.26);
}

.button__text {
    margin: auto;
}

.ready-solutions__title {
    margin: 0 0 70px;
}

.ready-solutions__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 40px;
}

.solution__link {
    margin-bottom: 30px;
}

@media (max-width: 1330px) {
    .products {
        padding: 70px 25px 25px;
    }
    .product {
        padding: 0 20px 50px;
    }
    .ready-solutions {
        padding: 0 25px;
    }
    .ready-solutions__content {
        margin-bottom: 10px;
    }
    .solution {
        padding: 0 15px 40px;
    }
}

@media (max-width: 740px) {
    .products {
        padding: 45px 10px 20px;
    }
    .title {
        font-size: 2rem;
    }
    .products__title {
        margin-bottom: 35px;
    }
    .product {
        padding: 0 10px 40px;
    }
    .ready-solutions {
        padding: 0 10px;
    }
    .ready-solutions__title {
        margin: 0 0 50px;
    }
    .solution {
        padding: 0 10px 30px;
    }
    .solution__link {
        margin-bottom: 10px;
    }
}

.advantages {
    background-color: #2f3133;
    padding-top: 5px;
    padding-bottom: 70px;
}

.advantages__title {
    margin: 55px 0 65px;
    color: #fff;
}

.advantages__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 1%;
}

.advantages-item {
    display: flex;
    flex-direction: column;
}

.advantages-item__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffe065;
    display: block;
    position: relative;
}

.advantages-item__circle::before {
    content: '';
    display: block;
    background: #ffe065;
    min-width: 200px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: -450%;
}

.advantages-item__title {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px 0;
}

.advantages-item__paragraph {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 1330px) {
    .advantages__content {
        padding: 0 50px;
    }
    .advantages__title {
        margin: 45px 0 55px;
    }
}

@media (max-width: 1177px) {
    .advantages-item__title {
        font-size: 1.4rem;
        margin: 20px 0 15px;
    }
    .advantages-item__paragraph {
        font-size: 1.2rem;
    }
}
@media (max-width: 1000px) {
    .advantages__title {
        margin: 35px 15px 30px;
    }
    .advantages__content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5%;
        padding: 0 20px;
    }
    .advantages-item__circle {
        display: none;
    }
    .advantages-item__title {
        color: #ffe065;
        font-size: 1.4rem;
        margin: 20px 0 15px;
    }
}
@media (max-width: 740px) {
    .advantages__content {
        display: block;
        padding: 0 10px;
    }
    .advantages-item__title {
        font-weight: 400;
    }
}




/*аккордеон клиенты*/
/*
.clients__accordeon_visible {
    position: relative;
}

.clients__accordeon_visible:focus {
    outline: none;
}

.clients__accordeon_visible::marker {
    display: none;
}

.clients__accordeon_visible::-webkit-details-marker {
    display:none;
}

.clients__accordeon_visible::-moz-list-bullet {
    list-style-type:none;
}

.clients__accordeon_visible::before {
    padding: 8px;
    position: absolute;
    bottom: -50px;
    font-family: 'FontAwesome';
    content: "\f0dd";
    font-size: 3rem;
    color: #2f3133;
    transition: all 0.2s;
}

.clients__accordeon_visible:hover:before {
    transform: scale(1.2);
    cursor: pointer;
    color: #444546;
}

.clients__accordeon {
    transition: all 0.2s;
}

.clients__accordeon[open] .clients__accordeon_visible ~ *{ 
    animation: sweep 0.8s ease-in-out;
}
*/
/*.clients__accordeon[close] .clients__accordeon_hidden ~ *{ 
    animation: sweepClose 0.8s ease-in-out;
}*/
/*
.clients__accordeon[open] .clients__accordeon_visible::before {
    display: none;
}

.accordeon__closeAnimation {
    animation-name: sweepClose;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
}*/

.accordeon__openAnimation {
    animation: accordeonOpen 0.4s ease-in-out;
}

.accordeon__closeAnimation {
    animation: accordeonClose 0.4s ease-in-out;
}

@keyframes accordeonOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes accordeonClose {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*
.accordeon__openWrapper {

}

@keyframes accordeonClose {
    0%    {height: 100%;}
    100%  {height: 0;}
 }*/
/*
@keyframes accordeonOpen {
   0%    {height: 0;}
   100%  {height: 100%;}
}*/
/*
.clients__accordeon_hidden {
    position: relative;
}

.clients__accordeon_hidden:after {
    padding: 8px;
    position: absolute;
    bottom: -30px;
    text-align: center;
    left: 48%;
    font-family: 'FontAwesome';
    content: "\f0de";
    font-size: 2.4rem;
    color: #2f3133;
    transition: transform 0.2s;
}

.clients__accordeon_hidden:hover:after {
    transform: scale(1.2);
    cursor: pointer;
}*/

.clients__accordeon_hidden,
.partners__accordeon_hidden {
   /* height: 0px;*/
    transition: all 1s ease-in-out;
}

.clients__accordeon_openWrapper,
.clients__accordeon_closeWrapper,
.partners__accordeon_openWrapper,
.partners__accordeon_closeWrapper {
    /*text-align: center;*/
    max-width: 30px;
    margin: 0 auto;
}


.clients__accordeon_openArrow,
.clients__accordeon_closeArrow,
.partners__accordeon_openArrow,
.partners__accordeon_closeArrow {
    font-size: 3rem;
    color: #2f3133;
    /*padding: 8px;*/
    transition: transform 0.2s;
}

.clients__accordeon_openArrow:hover,
.clients__accordeon_closeArrow:hover,
.partners__accordeon_openArrow:hover,
.partners__accordeon_closeArrow:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #444546;
}

.hidden {
    display: none;
    /*height: 0;
    overflow: hidden;*/
}



.clients__title {
    margin: 75px 0 70px;
}

.clients__content_3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 10px;
    padding-left: 50px;
    justify-items: center;
    margin-bottom: 50px;
}

.clients__content_4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 10px;
    padding-left: 50px;
    justify-items: center;
}

.clients__link {
    transition: transform 0.2s;
}
.clients__link:hover {
    transform: scale(1.08);
}

.clients__link:active {
    transform: scale(0.98);
}

.clients__logo {
    max-width: 100%;
}

.clients__logo_cherepovetcles {
    width: 120%;
}

.clients__logo_vologdales,
.clients__logo_soldek {
    max-width: 80%;
    margin-top: 15%;
}

.clients__logo_biolesprom {
    max-width: 60%;
    margin-left: 20%;
}

.clients__logo_vtorres {
    margin-top: -5%;
}

@media (max-width: 1330px) {
    .clients {
        padding: 0 50px;
    }
    .clients__content_3cols {
        padding-left: 0;
    }
    .clients__content_4cols {
        padding-left: 20px;
    }
    .clients__logo_vologdales {
        max-width: 90%;
        margin-top: 15%;
    }
    .clients__logo_biolesprom {
        max-width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 1000px) {
    .clients {
        padding: 0 20px;
    }
    .clients__title {
        margin: 45px 0 45px;
    }
    .clients__content_3cols {
        grid-gap: 30px 10px;
        margin-bottom: 50px;
    }
    
    .clients__content_4cols {
        grid-gap: 40px 10px;
        padding-left: 0;
    }
    .clients__logo_antey {
        margin-top: 5px;
    }
    .clients__logo_vologdales {
        max-width: 100%;
        margin-top: 15%;
    }
    .clients__logo_soldek {
        max-width: 80%;
        margin-top: 15%;
        margin-left: 10%;
    }
    .clients__logo_vtorres {
        margin-top: 0;
    }
    .clients__logo_biolesprom {
        max-width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 550px) {
    .clients__content_3cols {
        /*grid-template-columns: repeat(2, 1fr);*/
        margin-bottom: 25px;
    }
    .clients__content_4cols {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px 10px;
    }
    .clients__link {
        display: flex;
        align-items: center;
    }
    .clients__logo_biolesprom {
        max-width: 100%;
        margin-left: 0;
    }
}

.partners__title {
    margin: 105px 0 55px;
}
/*
.partners__content {
    padding-left: 50px;
}*/

.partners__line {
    display: flex;
    justify-content: center;
}

.partner-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    cursor: pointer;
    transition: transform 0.2s;
}

.partner-item:hover {
    transform: scale(1.08);
}

.partner-item__img {
    width: 200px;
    max-width: 100%;
}

.partner-item__title {
    font-size: 1.4rem;
    color: #2f3133;
    text-align: center;
    text-decoration: none;
}

.partner-item__img_megafon,
.partner-item__img_foresttank {
    max-width: 70%;
    margin-left: 15%;
}

.partner-item__img_sphere {
    max-width: 85%;
    margin-left: 8%;
}

@media (max-width: 1330px) {
    .partners {
        padding: 0 50px;
    }
    .partners__content {
        padding-left: 0;
    }
    .partner-item {
        margin: 15px;
    }
}

@media (max-width: 1000px) {
    .partners {
        padding: 0 20px;
    }
    .partners__title {
        margin: 35px 0 45px;
    }
}

@media (max-width: 740px) {
    .partners {
        padding: 0 15px;
    }
    .partners__line {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .partner-item {
        margin: 0 0 25px;
    }
}
@media (max-width: 374px) {
    .partners__line {
        display: block
    }
}


/*ниже стили для страницы входа*/

.login__wrapper {
    width: 380px;
    margin: 0 auto 120px;
}

.login__title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.login__form {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    border: 1px solid #bbb;
    border-radius: 7px;
    box-shadow: 2px 5px 7px rgba(87, 87, 87, 0.3);
    -webkit-box-shadow: 2px 5px 7px rgba(87, 87, 87, 0.3);
    -moz-box-shadow: 2px 5px 7px rgba(87, 87, 87, 0.3);
}

.login__link {
    text-decoration: none;
    float: right;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 26px;
    transition: transform 0.1s ease-in-out;
}

.login__link:hover {
    transform: scale(1.01);
}

.login__link:active {
    transform: none;
}

.login__label {
    font-weight: 600;
}

.login__input {
    margin: 7px 0 22px;
    padding: 6px 12px;
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 400;
    border-radius: 6px;
    outline: none;
    border: 1px solid #bbb;
}

.login__input:focus {
    border: 1px solid #aaa;
    box-shadow: 2px 5px 7px rgba(87, 87, 87, 0.3);
    -webkit-box-shadow: 2px 5px 7px rgba(87, 87, 87, 0.3);
    -moz-box-shadow: 2px 5px 7px rgba(87, 87, 87, 0.3);
    /*inset 0 0 2px 2px rgba(0, 0, 0, 0.15);*/
}

.login__submit {
    display: block;
    height: 40px;
    width: 150px;
    font-size: 1.3rem;
    align-self: center;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background-color: #2ea44f;
    color: #fff;
    border: 1px solid rgba(27,31,35, 0.15);
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 0 3px 1px rgba(23, 209, 116, 0.1),
        inset 0 0 3px 3px rgba(0, 105, 40, 0.1);
    -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 0 3px 1px rgba(23, 209, 116, 0.1),
        inset 0 0 3px 3px rgba(0, 105, 40, 0.1);
    -moz-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 0 3px 1px rgba(23, 209, 116, 0.1),
        inset 0 0 3px 3px rgba(0, 105, 40, 0.1);
    transition: all 0.05s ease-in-out;
}

.login__submit:hover {
    background-color: #2c974b;
    transform: scale(1.02);
}

.login__submit:active {
    transform: scale(1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(27,31,35, 0.15);
    outline: none;
}

.login__submit:focus {
    border: 1px solid rgba(27,31,35, 0.15);
    outline: none;
}

.register_wrap {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    padding: 15px 28px;
}

.register_text {
    font-size: 0.9rem;
}

.register_link {
    text-decoration: none;
    font-size: 0.9rem;
}

/*выше стили для страницы входа*/

.channel {
    background-color: #2f3133;
    padding: 5px 0 70px;
    margin-top: 50px;
}

.channel__title {
    color: #fff;
    margin: 40px 0 45px;
}

.channel__content {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .channel {
        margin-top: 40px;
        padding: 5px 0 50px;
    }
    .channel__title {
        margin: 35px 0 40px;
    }
    .channel__video {
        max-width: 560px;
        height: 315px;
    }
}
@media (max-width: 740px) {
    .channel {
        padding: 5px 0 40px;
    }
    .channel__title {
        margin: 20px 0 25px;
    }
    .channel__video {
        max-width: 373px;
        height: 210px;
    }
}
@media (max-width: 400px) {
    .channel {
        padding: 5px 0 30px;
    }
    .channel__title {
        margin: 15px 0 20px;
    }
    .channel__video {
        max-width: 310px;
        height: 175px;
    }
}


.contacts__title {
    margin: 50px 0 65px;
}

.contacts__info {
    padding: 0 140px;
}

.contacts__item {
    font-size: 1.5rem;
    color: #2f3133;
    margin-bottom: 15px;
    text-decoration: none;
    display: block;
}

.contacts__item_phone {
    text-decoration: underline;
}

.contacts__item_phone:hover {
    color: #ffe065;
}

.fa-phone_contacts {
    margin-right: 20px;
}

.fa-envelope-o_contacts {
    margin-right: 20px;
}

.contacts__item_adress::before {
    font-family: 'FontAwesome';
    content: "";
    color: #2f3133;
    margin-right: 20px;
    font-size: 1.5rem;
}

.contacts__item_adress::before {
    content: "\f041";
}

.contacts__map {
    display: flex;
    justify-content: center;
}

@media (max-width: 1330px) {
    .contacts__info {
        padding: 0;
        text-align: center;
    }
}
@media (max-width: 1000px) {
    .contacts {
        padding: 0 40px;
    }
    .contacts__title {
        margin: 40px 0 45px;
    }
}
@media (max-width: 740px) {
    .contacts {
        padding: 0 20px;
    }
    .contacts__item_mail {
        text-decoration: underline;
    }
    .contacts__item_mail:active {
        color: #ffe065;
    }
    .clients__title,
    .partners__title,
    .channel__title,
    .news__title,
    .contacts__title {
        font-size: 2.4rem;
    }
}

.feedback__title {
    font-size: 2rem;
    text-align: center;
    margin: 70px 110px 5px;
}

.feedback__subtitle {
    color: #2f3133;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 55px;
}

.feedback__content {
    padding: 0 140px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
}

.name-input,
.phone-input,
.email-input,
.text-input {
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid #2f3133;
    opacity: 0.51;
    color: #2f3133;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 0 5px 0;
    width: 100%;
    transition: opacity 0.3s;
    margin-bottom: 20px;
}

.name-input:focus,
.phone-input:focus,
.email-input:focus,
.text-input:focus {
    opacity: 1;
    outline: none;
}

.name-input::-webkit-input-placeholder,
.phone-input::-webkit-input-placeholder,
.email-input::-webkit-input-placeholder,
.text-input::-webkit-input-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input::-moz-placeholder,
.phone-input::-moz-placeholder,
.email-input::-moz-placeholder,
.text-input::-moz-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input:-moz-placeholder,
.phone-input:-moz-placeholder,
.email-input:-moz-placeholder,
.text-input:-moz-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input:-ms-input-placeholder,
.phone-input:-ms-input-placeholder,
.email-input:-ms-input-placeholder,
.text-input:-ms-input-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input:focus::-webkit-input-placeholder,
.phone-input:focus::-webkit-input-placeholder,
.email-input:focus::-webkit-input-placeholder,
.text-input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.name-input:focus::-moz-placeholder,
.phone-input:focus::-moz-placeholder,
.email-input:focus::-moz-placeholder,
.text-input:focus::-moz-placeholder {
    opacity: 0;
}

.name-input:focus:-moz-placeholder,
.phone-input:focus:-moz-placeholder,
.email-input:focus:-moz-placeholder,
.text-input:focus:-moz-placeholder {
    opacity: 0;
}

.name-input:focus:-ms-input-placeholder,
.phone-input:focus:-ms-input-placeholder,
.email-input:focus:-ms-input-placeholder,
.text-input:focus:-ms-input-placeholder {
    opacity: 0;
}

.form__concent {
    margin: 30px 0;
}

.concent-checkbox {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.consent-label {
    color: #2f3133;
    font-size: 1.2rem;
    font-weight: 400;
}

.consent-link {
    color: #2f3133;
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.2s;
}

.consent-link:hover {
    color: #ffe065;
}

.consent-link:active {
    color: #2f3133;
}

.submit-text {
    font-size: 1.2rem;
}

.feedback__button {
    outline: none;
    cursor: pointer;
    margin: 10px 0 80px;
}

@media (max-width: 1330px) {
    .feedback__content {
        padding: 0;
    }
}
@media (max-width: 1000px) {
    .feedback__title {
        font-size: 1.9rem;
        margin: 55px 0 5px;
    }
    .feedback {
        padding: 0 40px;
    }
}
@media (max-width: 740px) {
    .feedback__title {
        font-size: 1.8rem;
        margin: 40px 0 5px;
    }
    .feedback__subtitle {
        font-size: 1.2rem;
    }
    .feedback {
        padding: 0 20px;
    }
    .feedback__form {
        align-items: center;
    }
}

@media (max-width: 360px) {
    .feedback__title {
        font-size: 1.5rem;
    }
}

.footer {
    padding: 70px 80px 70px 210px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 50px;
    background-color: #2f3133;
}

.footer__text {
    margin-top: 10px;
}

.footer-text__paragraph,
.footer-text__link {
    text-decoration: none;
    color: #787e83;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 300;
}

.footer-text__link {
    transition: color 0.2s;
}

.footer-text__link:hover {
    color: #ffe065;
}

.footer__contacts {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer__title {
    color: #787e83;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.footer-contacts__item {
    color: #787e83;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.fa-phone_footer {
    margin-right: 20px;
    color: #fff;
    font-size: 1.5rem;
}

.phone-text {
    text-decoration: underline;
}

.fa-envelope-o_footer {
    margin-right: 20px;
    color: #fff;
    font-size: 1.5rem;
}

.footer-contacts__item_adress::before {
    font-family: 'FontAwesome';
    content: "";
    color: #fff;
    margin-right: 15px;
    font-size: 1.5rem;
}

.footer-contacts__item_phone:hover {
    color: #ffe065;
}

.footer-contacts__item_adress::before {
    content: "\f041";
    margin-left: 3px;
}

.footer__socialLinks {
    margin-top: 30px;
    display: flex;
}

.footer-links__item {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    font-size: 1.5rem;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s, text-shadow 0.2s;
}

.footer-links__item:hover {
    text-shadow: 2px 3px 6px #373737;
    transform: scale(1.1);
}

.footer-links__item:active {
    transform: scale(1);
    text-shadow: none;
}

.footer-links__item_facebook {
    background-color: #3b5998;
}

.footer-links__item_vk {
    background-color: #5d84ae;
}

.footer-links__item_twitter {
    background-color: #00acee;
}

.footer-links__item_instagram {
    background-color: #5851DB;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
}

.footer-links__item_youtube {
    background-color: #c4302b;
}
/*
.footer__name-input,
.footer__email-input,
.footer__text-input {
    background-color: #2f3133;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffe065;
    color: #787e83;
    font-size: 1.2rem;
    padding: 0 0 5px 0;
    width: 100%;
    transition: opacity 0.3s;
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-weight: 300;
}

.footer__name-input:focus,
.footer__email-input:focus,
.footer__text-input:focus {
    color: #fff;
    outline: none;
}

.footer__name-input::-webkit-input-placeholder,
.footer__email-input::-webkit-input-placeholder,
.footer__text-input::-webkit-input-placeholder {
    color: #787e83;
    font-weight: 300;
    transition: color 0.3s;
}

.footer__name-input::-moz-placeholder,
.footer__email-input::-moz-placeholder,
.footer__text-input::-moz-placeholder {
    color: #787e83;
    font-weight: 300;
    transition: color 0.3s;
}

.footer__name-input:-moz-placeholder,
.footer__email-input:-moz-placeholder,
.footer__text-input:-moz-placeholder {
    color: #787e83;
    font-weight: 200;
    transition: color 0.3s;
}

.footer__name-input:-ms-input-placeholder,
.footer__email-input:-ms-input-placeholder,
.footer__text-input:-ms-input-placeholder {
    color: #787e83;
    font-weight: 200;
    transition: color 0.3s;
}

.footer__name-input:focus::-webkit-input-placeholder,
.footer__email-input:focus::-webkit-input-placeholder,
.footer__text-input:focus::-webkit-input-placeholder {
    color: #fff;
}

.footer__name-input:focus::-moz-placeholder,
.footer__email-input:focus::-moz-placeholder,
.footer__text-input:focus::-moz-placeholder {
    color: #fff;
}

.footer__name-input:focus:-moz-placeholder,
.footer__email-input:focus:-moz-placeholder,
.footer__text-input:focus:-moz-placeholder {
    color: #fff;
}

.footer__name-input:focus:-ms-input-placeholder,
.footer__email-input:focus:-ms-input-placeholder,
.footer__text-input:focus:-ms-input-placeholder {
    color: #fff;
}

.footer__submit {
    cursor: pointer;
}

.footer__submit:active {
    outline: none;
}*/

/*
@media (max-width: 1330px) {
    .footer {
        padding: 70px 60px 70px 70px;
    }
}
@media (max-width: 1200px) {
    .footer {
        padding: 50px 50px 70px 50px;
        grid-gap: 10px 20px;
    }
}
*/
@media (max-width: 1250px) {
    .footer {
        padding: 70px 80px 70px 120px;
    }
}
@media (max-width: 1000px) {
    .footer {
        grid-template-columns: 55% 44%;
        padding: 40px 50px 50px;
        grid-gap: 20px;
    }
}

@media (max-width: 740px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 40px 15px 50px;
    }
    .footer__title {
        text-align: center;
    }
    .footer__text {
        grid-row: 2 / 3;
    }
    .footer__socialLinks {
        justify-content: space-around;
    }
    .footer-links__item {
        padding: 7px;
        font-size: 2.2rem;
        margin-right: 0;
    }
    .footer-contacts__item_phone {
        color: #ffe065;
    }
    .email-text_footer {
        text-decoration: underline;
        color: #ffe065;
    }
    /*
    .footer__feedback {
        grid-column: 1 / 2;
    }
    .footer__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__name-input,
    .footer__email-input,
    .footer__text-input {
        max-width: 80%;
    }*/
}

@media (max-width: 360px) {
    .footer-links__item {
        padding: 4px;
        font-size: 2.1rem;
        margin-right: 0;
    }
}
/*
.gallery,
.articles {
    margin-top: 85px;;
}*/





/*СТИЛИ ДЛЯ ГАЛЛЕРЕИ*/

.gallery {
    padding: 0 70px;
    margin-bottom: 70px;
}

.gallery__title {
    text-transform: uppercase;
    margin: 37px 0;
}

#lightgallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-row-gap: 15px;
}

.gallery__link {
    text-decoration: none;
    width: 220px;
    height: 220px;
    position: relative;
}

.gallery__image {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.gallery__image-background {
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 0;
    border-bottom: 3px solid #ffe065;
}

.gallery__image-description {
    text-decoration: none;
    font-size: 0.7rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0px;
    text-transform: uppercase;
}

@media (max-width: 1332px) {
    #lightgallery {
        grid-gap: 15px;
        padding: 0 5%;
    }

    .gallery {
        padding: 0;
        
    }

    .gallery__link,
    .gallery__image {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .gallery__link,
    .gallery__image {
        height: 200px;
    }
}

@media (max-width: 1118px) {
    .gallery {
        margin-bottom: 50px;
    }
    #lightgallery {
        grid-gap: 12px;
        padding: 0 4%;
    }

    .gallery__link,
    .gallery__image {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    #lightgallery {
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 4%;
    }
}

@media (max-width: 854px) {
    .gallery {
        margin-bottom: 30px;
    }
    #lightgallery {
        grid-gap: 9px;
        padding: 0 3%;
    }

    .gallery__title {
        font-size: 2.3rem;
        margin: 27px 0;
    }

    .gallery__image-background {
        padding: 5px 0;
    }
}

@media (max-width: 767px) {
    #lightgallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 0 5%;
    }
}

@media (max-width: 630px) {
    .gallery {
        margin-bottom: 25px;
    }
    #lightgallery {
        grid-gap: 8px;
        padding: 0 3%;
    }

    .gallery__link,
    .gallery__image {
        height: 150px;
    }

    .gallery__image-background {
        padding: 4px 0;
    }
}

@media (max-width: 540px) {
    #lightgallery {
        grid-gap: 6px;
        padding: 0 2%;
    }

    .gallery__link,
    .gallery__image {
        height: 140px;
    }

    .gallery__title {
        margin-bottom: 18px;
    }
}

@media (max-width: 426px) {
    .gallery__image-background {
        padding: 2px 0;
    }
}

@media (max-width: 424px) {
    #lightgallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
        padding: 0 3%;
    }

    .gallery__link,
    .gallery__image {
        height: 140px;
    }

    .gallery__title {
        margin-bottom: 18px;
    }
}

/*стили для статей*/

.articles__container {
    background-color: #fafafa;
}

/*.articles:first-child {
    margin-top: 30px;
}

.articles:last-child {
    margin-bottom: 30px;
}*/

.articles__wrapper {
    padding: 32px 0 40px;
}

.article {
    margin: 30px auto;
    max-width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 16px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 16px -8px rgba(0,0,0,0.75);
}

.article__title-link {
    text-decoration: none;
    margin-top: 15px;
}

.article__title {
    display: inline;
    border-bottom: 2px solid transparent;
    font-weight: lighter;
    color: #2f3133;
    text-transform: uppercase;
    font-size: 2rem;
    transition: border-bottom 0.2s, color 0.2s;
}

.article__title:hover {
    border-bottom: 2px solid #2f3133;
}

.article__title:active {
    border-bottom: 2px solid #ffe065;
}

.article__text {
    color: #2f3133;
    font-weight: lighter;
    margin-top: 11px;
}

.article__link {
    font-size: 1.4rem;
    color: #2f3133;
    padding: 8px 18px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 35px;
    text-transform: lowercase;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    -webkit-box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
    font-weight: 300;
}

.article__link:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
}

.article__link:active {
    transform: scale(0.95);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.article__author {
    font-size: 0.9rem;
    color: #616161;
}

@media (max-width: 1290px) {
    .article {
        padding: 30px 40px 0;
    }
}

@media (max-width: 1199px) {
    .article {
        max-width: 85%;
    }

    .articles__wrapper {
        padding: 25px 0 35px;
    }
}

@media (max-width: 1112px) {
    .article {
        max-width: 90%;
        padding: 30px 18px 0 22px;
    }

    .articles__title {
        font-size: 1.7rem;
    }
}

@media (max-width: 999px) {
    .articles__wrapper {
        padding: 18px 0 26px;
    }

    .article {
        max-width: 88%;
        padding: 15px 15px 0 25px;
    }

    .article__link {
        margin: 22px 0 30px;
    }
}

@media (max-width: 920px) {
    .articles__wrapper {
        padding: 0px 0 26px;
    }

    .article {
        max-width: 90%;
        padding: 15px 15px 0 25px;
    }
}


@media (max-width: 776px) {
    .articles__wrapper {
        padding: 7px 0 26px;
    }

    .article {
        max-width: 94%;
        padding: 10px 8px 0 15px;
        margin: 15px auto;
    }

    .article__title {
        font-size: 1.7rem;
    }

    .article__title-link {
        text-align: center;
    }

    .article__link {
        margin: 18px 0 21px;
    }
}

@media (max-width: 740px) {
    .articles__wrapper {
        padding: 15px 5px 26px;
    }
}

@media (max-width: 622px) {
    .article {
        max-width: 100%;
        padding: 10px 8px 0 15px;
        margin: 12px 4px;
    }
}

@media (max-width: 460px) {
    .articles__wrapper {
        padding: 15px 5px 20px;
    }

    .article {
        padding: 5px 5px 0 10px;
    }

    .article__title {
        font-size: 1.4rem;
    }
}

/*стили для политики конфиденциальности*/

.padding-privacy {
    padding: 100px 100px 0 120px;
}

.privacy__title {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    color: #2f3133;
    margin-top: 45px;
    margin-bottom: 30px;
}

.privacy__text {
    color: #2f3133;
    margin: 15px 0;
    font-size: 1.1rem;
}

.privacy__subtitle {
    color: #2f3133;
    font-size: 2.5rem;
    margin-left: 60px;
    font-weight: 300;
    margin-top: 25px;
}

.privacy__list {
    margin-left: 60px;
    margin-bottom: 40px;
}

.privacy__text_last {
    margin-bottom: 80px;
}

@media (max-width: 1145px) {
    .privacy__subtitle {
        font-size: 2.3rem;
        margin-left: 60px;
    }
}

@media (max-width: 1099px) {
    .padding-privacy {
        padding: 100px 50px 0 60px;
    }

    .privacy__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 1000px) {
    .padding-privacy {
        padding: 100px 40px 0 50px;
    }

    .privacy__list {
        margin-left: 30px;
    }

    .privacy__subtitle {
        margin-left: 40px;
    }
}

@media (max-width: 842px) {
    .padding-privacy {
        padding: 100px 25px 0 40px;
    }

    .privacy__title {
        font-size: 2.6rem;
    }

    .privacy__subtitle {
        font-size: 2.1rem;
    }
}

@media (max-width: 739px) {
    .padding-privacy {
        padding: 50px 15px 0 24px;
    }

    .privacy__subtitle {
        font-size: 1.7rem;
        margin-left: 30px;
    }

    .privacy__title {
        font-size: 2.3rem;
    }

    .privacy__list {
        margin-left: 22px;
    }
}

@media (max-width: 599px) {
    .privacy__subtitle {
        font-size: 1.5rem;
        margin-left: 0;
        text-align: center;
    }

    .privacy__title {
        font-size: 2.1rem;
        margin-top: 32px;
        margin-bottom: 18px;
    }
}

@media (max-width: 500px) {
    .privacy__subtitle {
        font-size: 1.4rem;
    }

    .privacy__title {
        font-size: 1.9rem;
    }

    .padding-privacy {
        padding: 50px 10px 0 20px;
    }
}

@media (max-width: 450px) {
    .privacy__title {
        line-height: 30px;
    }

    .privacy__list {
        margin-left: 13px;
    }
}


.emailSended {
    background-color: #212121;
    background-image: url("../img/full_road-car-tire.png");
    background-position: 1% 10%;
    background-repeat: no-repeat;
    background-size: 1500px, auto;
    min-height: 350px;
    padding: 170px 0 60px;
}

.emailSended__block {
    margin: 30px auto 70px;
    max-width: 80%;
    background-color: #000000;
    filter: opacity(80%);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.emailSended__text {
    font-size: 2rem;
    line-height: 3.5rem;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
}

.toMainPageBtn {
    text-align: center;
    min-width: 220px;
    font-size: 1.6rem;
    color: #fff;
    background-color: #212121;
    filter: opacity(80%);
    padding: 10px 18px 12px;
    border: 1px solid #2f3133;
    border-radius: 10px;
    text-decoration: none;
    align-self: center;
    margin: 70px auto 10px;
    text-transform: lowercase;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s, filter 0.2s;
    -webkit-box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 15px -10px rgba(0,0,0,0.75);
    font-weight: 300;
}

.toMainPageBtn:hover {
    transform: scale(1.05);
    filter: opacity(100%);
    -webkit-box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
}

.toMainPageBtn:active {
    transform: scale(0.95);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.emailSendedFooter {
    background-color: #000000;
    filter: opacity(95%);
}

.button_toMain {
    margin: 0 auto 50px;
}



@media (max-width: 1225px) {
    .emailSended {
        background-size: 1366px, auto;
        background-position: 20% 10%;
        min-height: 200px;
    }
}

@media (max-width: 1150px) {
    .emailSended {
        padding: 200px 50px 10px;
        background-size: 1200px, auto;
        background-position: 1% right 100px;
    }
    .emailSended__text {
        font-size: 1.6rem;
        line-height: 3.5rem;
    }
}

@media (max-width: 950px) {
    .emailSended {
        background-size: 950px;
        background-position: 20% 40%;
        padding: 120px 10px 30px;
        min-height: 200px;
    }
    .emailSended__block {
        padding: 30px 40px;
    }
    .toMainPageBtn {
        margin: 40px auto 10px;
    }
}

@media (max-width: 740px) {
    .emailSended {
        background-position: 82% bottom;
        padding: 80px 15px 20px;
        min-height: 150px;
        background-size: cover, auto;
    }
    .emailSended__block {
        padding: 30px 20px;
        margin: 30px auto 40px;
    }
    .emailSended__text {
        line-height: 2.6rem;
    }
}

@media (max-width: 400px) {
    .emailSended {
        padding: 80px 0 20px;
        min-height: 150px;
        background-size: cover, auto;
    }
    .emailSended__block {
        max-width: 85%;
        padding: 30px 10px;
    }
}