/*таблица*/


/*
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
}
*/

label {
    color: #444;
    font-size: 18px;
}

.input-window {
    width: 100%;
    margin: 7px 0 15px;
    background-color: #ffffff;
    width: 490px;
    height: 35px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 20px;
}

.submit-button {
    background-color: #445162;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #dedede;
    color: #445162;
    transform: scale(1.12);
    cursor: pointer;
}

.submit-button:active {
    background-color: #445162;
    color: #dedede;
}

table {
    margin: 90px 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    border: 1px solid #444;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #adadad;
}

tr:nth-child(odd) {
    background-color: #c5c5c5;
}

th {
    background-color: #e66868;
}


/*ниже стили для вёрстки главной страницы*/

/*Lizard's stiles*/

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans Regular');
	src: url(../fonts/OpenSans-Regular.woff2) format('woff2'), url(../fonts/OpenSans-Regular.woff) format('woff'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light'), local('OpenSans Light');
	src: url(../fonts/OpenSans-Light.woff2) format('woff2'), url(../fonts/OpenSans-Light.woff) format('woff'), url(../fonts/OpenSans-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold'), local('OpenSans SemiBold');
	src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2'), url(../fonts/OpenSans-SemiBold.woff) format('woff'), url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}


* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1366px;
	margin: 0 auto;
}

.padding-site {
	padding: 0 120px;
}

.header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 40px 100px;
	background-color: #2f3133;
}

.header__logo {
	grid-column-start: 1;
	grid-row: 1 / 3;
	margin: -25px 0;
}

.logo__link {
	transition: all 0.3s;
}

.logo__link:hover .logo__svg_top {
	transform: scale(1.05);
	fill: #ffffff;
}

.logo__svg_top {
	width: 150px;
	fill: #ffe065;
	transition: all 0.2s;
}

.header__top {
	grid-column:  2 / 3;
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
}

.header__info {
	display: flex;
	margin-left: 40px;
}

.header-info__link {
	text-decoration: none;
	color: #787E83;
	margin: 10px 15px;
	transition: color 0.2s;
}

.header-info__link:hover {
	color: #ffffff;
}

.header__info-icon {
	font-size: 1.3rem;
	color: #ffffff;
	margin-right: 20px;
}

.social-links__item {
	font-size: 1.6rem;
	color: #787E83;
	margin: 10px 0 0 20px;
	transition: all 0.2s;
}

.social-links__icon {
	transition: transform 0.2s;
}

.social-links__item:hover {
	color: #ffffff;
}

.social-links__item:hover .social-links__icon {
	transform: scale(1.3);
}

.header__low {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.header-nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 1.3rem;
	margin-left: 15px;
	transition: color 0.2s, border 0.2s;
	padding: 0 7px 10px 7px;
}

.header-nav__link:hover {
	color: #ffe065;
	border-bottom: 2px solid #ffe065;
}

.mobile-header {
    display: none;
}

@media (max-width: 1270px) {
    .header {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1099px) {
    .header {
        padding: 40px 60px;
    }
    .header__top {
        justify-content: space-around;
    }
    .social-links__item {
        margin: 10px 0 0 10px;
    }
    .header-nav__link {
        padding: 0 4px 10px 4px;
    }
}

@media (max-width: 1000px) {
    .header {
        padding: 25px 30px;
    }
    .logo__svg_top {
        max-width: 140px;
    }
    .header__info {
        margin-left: 0;
    }
}

@media (max-width: 920px) {
    html {
        font-size: 14px;
    }

    .header {
        padding: 25px 25px 25px 15px;
    }

    .logo__svg_top {
        width: 120px;
    }

    .header-nav__link {
        padding: 0 0 5px;
    }
}

@media (max-width: 740px) {
    body.locked {
        overflow: hidden;
    }
    .header {
        display: none;
    }

    .mobile-header {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        
    }

    .mobile-header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        filter: opacity(70%);
        z-index: 3;
    }

    .mobile-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 74px;
        
    }

    .blur {
        backdrop-filter: blur(4px);
    }

    .mobile-logo_link {
        z-index: 3;
    }

    .mobile-logo_link:hover .logo__text {
        fill: #fff;
    }

    .logo__text {
        max-width: 100%;
        width: 180px;
        height: 180px;
        fill: #ffe065;
        margin: -85px 0 -25px -30px;
        transition: fill 0.2s;
    }

    .header__burger {
        display: block;
        width: 35px;
        height: 25px;
        position: relative;
        z-index: 6;
        margin-right: 20px;
        transition: transform 0.2s;
        cursor: pointer;
    }

    .header__burger:hover {
        transform: scale(1.1);
    }
    .header__burger:active {
        transform: scale(0.95);
    }

    .header__burger.burger_active:before {
        transform: rotate(45deg);
        top: 11px;
    }

    .header__burger.burger_active:after {
        transform: rotate(-45deg);
        bottom: 11px;
    }

    .header__burger.burger_active span {
        transform: scale(0);
    }
    .header__burger:before,
    .header__burger:after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger span {
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: 11px;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }
    .mobile-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #ffe065;
        padding: 74px 0 0 0;
        transition: top 0.3s;
    }

    .mobile-nav.burger_active {
        top: 0;
    }

    .mobile-nav__link {
        text-decoration: none;
        color: #2f3133;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 400;
        padding: 7px 0 7px 12px;
        transition: background-color 0.2s;
    }
    .mobile-nav__link:hover {
        background-color: #fff;
    }
    .mobile-nav__link:active {
        background-color: #fff;
    }

    .mobile-social-links {
        display: flex;
        padding-top: 10px;
    }

    .mobile-social-links__item {
        color: #fff;
        font-size: 3.6rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        padding: 10px;
        margin: 0 5px;
        transition: transform 0.2s;
    }

    .mobile-social-links__item:active {
        transform: scale(0.95);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }

    .gallery,
    .article,
    .poster {
        margin-top: 74px;
    }
}

@media (max-width: 370px) {
    .mobile-social-links__item {
        font-size: 3.2rem;
        padding: 7px;
        margin: 0 5px;
    }
}

@media (max-width: 315px) {
    .mobile-social-links__item {
        font-size: 3rem;
        padding: 5px;
        margin: 0 5px;
    }
}

.poster {
    background-color: #212121;
    background-image: url(../img/full_road-car-tire.jpg);
    background-position: right --200px;
    background-repeat: no-repeat;
    background-size: 1500px, auto;
    min-height: 750px;
    padding-top: 30px;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
}



.poster__logo {
	grid-column: 3/4;
    grid-row: 1 / 2;
    text-align: center;
}

.logo__svg_poster {
	width: 250px;
	fill: #ffe065;
    scale: 1.2;
}
/*
.poster__title {
    font-size: 3rem;
    color: #ffe065;
    grid-row: 2 / 4;
    align-self: center;
    grid-column: 1 / 3;
    margin-left: 180px;
    text-transform: uppercase;
}
*/
.poster__description {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-weight: 100;
}

.poster__text {
    font-size: 2.6rem;
    color: #fff;
}

@media (max-width: 1200px) {
    
    .poster {
        background-position: 70% 70%;
        padding: 120px 80px 80px;
        min-height: 200px;
    }
    .poster__logo {
        display: none;
    }
    .poster__subLogo {
        grid-row: 1 / 2;
        grid-column: 3/4;
        text-align: center;
    }
    .poster__subLogo_text {
        font-size: 3rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .poster__title {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        margin-left: 0;
    }
    .poster__description {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}

@media (max-width: 740px) {
    .poster {
        background-position: 82% 70%;
        padding: 70px 15px 50px;
        min-height: 200px;
        background-size: 1300px, auto;
        display: flex;
        flex-direction: column;
    }
    .poster__subLogo_text {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }
    .poster__title {
        font-size: 3.2rem;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .poster__text {
        font-size: 1.6rem;
        color: #fff;
        text-align: center;
    }
}

.products {
    padding-top: 80px;
    padding-bottom: 30px;
}

.title {
    color: #2f3133;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
}

.products__title {
    margin-bottom: 75px;
}

.products__text {
    color: #2f3133;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 42px;
    text-transform: uppercase;
    line-height: 38px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 50px;
}

.product__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
    -webkit-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    margin-bottom: 20px;
    object-fit: contain;
}

.product__image_agronavigator {
    object-fit: cover;
}

.product__image_fuel-control {
    object-fit: contain;
    object-position: 150% 190%;
}

.product__image_drivers-controll,
.product__image_tire-control {
    object-fit: contain;
    object-position: 50% 90%;
}

.product__image:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 3px 5px 35px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 5px 35px 2px rgba(0,0,0,0.26);
    box-shadow: 3px 5px 35px 2px rgba(0,0,0,0.26);
}

.product__image:active {
    transform: scale(0.98);
    -webkit-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
    box-shadow: 3px 5px 30px -6px rgba(0,0,0,0.26);
}

.button {
    display: flex;
    padding: 5px 15px;
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;
    -webkit-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.26);
    box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.26);
    border-radius: 10px;
    border: 1px solid #ffe065;
    background-color: #fff;
    text-align: center;
    min-height: 44px;
    max-width: 250px;
    min-width: 220px;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.button:hover {
    transform: scale(1.05);
    background: #ffe065;
    -webkit-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.36);
    box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.36);
}

.button:active {
    transform: scale(0.98);
    -webkit-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.26);
    box-shadow: 3px 3px 19px -4px rgba(0,0,0,0.26);
}

.button__text {
    margin: auto;
}

.ready-solutions__title {
    margin: 0 0 70px;
}

.ready-solutions__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 40px;
}

.solution__link {
    margin-bottom: 30px;
}

@media (max-width: 1330px) {
    .products {
        padding: 70px 25px 25px;
    }
    .product {
        padding: 0 20px 50px;
    }
    .ready-solutions {
        padding: 0 25px;
    }
    .ready-solutions__content {
        margin-bottom: 10px;
    }
    .solution {
        padding: 0 15px 40px;
    }
}

@media (max-width: 740px) {
    .products {
        padding: 45px 10px 20px;
    }
    .title {
        font-size: 2rem;
    }
    .products__title {
        margin-bottom: 35px;
    }
    .product {
        padding: 0 10px 40px;
    }
    .ready-solutions {
        padding: 0 10px;
    }
    .ready-solutions__title {
        margin: 0 0 50px;
    }
    .solution {
        padding: 0 10px 30px;
    }
    .solution__link {
        margin-bottom: 10px;
    }
}

.advantages {
    background-color: #2f3133;
    padding-top: 5px;
    padding-bottom: 70px;
}

.advantages__title {
    margin: 55px 0 65px;
    color: #fff;
}

.advantages__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 1%;
}

.advantages-item {
    display: flex;
    flex-direction: column;
}

.advantages-item__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffe065;
    display: block;
    position: relative;
}

.advantages-item__circle::before {
    content: '';
    display: block;
    background: #ffe065;
    min-width: 200px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: -450%;
}

.advantages-item__title {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px 0;
}

.advantages-item__paragraph {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 1330px) {
    .advantages__content {
        padding: 0 50px;
    }
    .advantages__title {
        margin: 45px 0 55px;
    }
}

@media (max-width: 1177px) {
    .advantages-item__title {
        font-size: 1.4rem;
        margin: 20px 0 15px;
    }
    .advantages-item__paragraph {
        font-size: 1.2rem;
    }
}
@media (max-width: 1000px) {
    .advantages__title {
        margin: 35px 15px 30px;
    }
    .advantages__content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5%;
        padding: 0 20px;
    }
    .advantages-item__circle {
        display: none;
    }
    .advantages-item__title {
        color: #ffe065;
        font-size: 1.4rem;
        margin: 20px 0 15px;
    }
}
@media (max-width: 740px) {
    .advantages__content {
        display: block;
        padding: 0 10px;
    }
    .advantages-item__title {
        font-weight: 400;
    }
}




/*аккордеон клиенты*/

.clients__accordeon_visible {
    position: relative;
}

.clients__accordeon_visible:focus {
    outline: none;
}

.clients__accordeon_visible::marker {
    display: none;
}

.clients__accordeon_visible::-webkit-details-marker {
    display:none;
}

.clients__accordeon_visible::-moz-list-bullet {
    list-style-type:none;
}

.clients__accordeon_visible::before {
    padding: 8px;
    position: absolute;
    bottom: -50px;
    font-family: 'FontAwesome';
    content: "\f0dd";
    font-size: 3rem;
    color: #2f3133;
    transition: all 0.2s;
}

.clients__accordeon_visible:hover:before {
    transform: scale(1.2);
    cursor: pointer;
    color: #444546;
}

.clients__accordeon {
    transition: all 0.2s;
}

.clients__accordeon[open] .clients__accordeon_visible ~ *{ 
    animation: sweep 0.8s ease-in-out;
}

.clients__accordeon[open] .clients__accordeon_visible::before {
    display: none;
}

@keyframes sweep {
   0%    {opacity: 0;}
   100%  {opacity: 1;}
}
/*
.clients__accordeon_hidden {
    position: relative;
}

.clients__accordeon_hidden:after {
    padding: 8px;
    position: absolute;
    bottom: -30px;
    text-align: center;
    left: 48%;
    font-family: 'FontAwesome';
    content: "\f0de";
    font-size: 2.4rem;
    color: #2f3133;
    transition: transform 0.2s;
}

.clients__accordeon_hidden:hover:after {
    transform: scale(1.2);
    cursor: pointer;
}*/


.accordeon__closeWrapper {
    text-align: center;
}

.accordeon__closeArrow {
    font-size: 3rem;
    color: #2f3133;
    padding: 8px;
    transition: transform 0.2s;
}

.accordeon__closeArrow:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #444546;
}





.clients__title {
    margin: 75px 0 70px;
}

.clients__content_3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 10px;
    padding-left: 50px;
    justify-items: center;
    margin-bottom: 50px;
}

.clients__content_4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 10px;
    padding-left: 50px;
    justify-items: center;
}

.clients__link {
    transition: transform 0.2s;
}
.clients__link:hover {
    transform: scale(1.08);
}

.clients__link:active {
    transform: scale(0.98);
}

.clients__logo {
    max-width: 100%;
}

.clients__logo_cherepovetcles {
    width: 120%;
}

.clients__logo_vologdales,
.clients__logo_soldek {
    max-width: 80%;
    margin-top: 15%;
}

.clients__logo_biolesprom {
    max-width: 60%;
    margin-left: 20%;
}

.clients__logo_vtorres {
    margin-top: -5%;
}

@media (max-width: 1330px) {
    .clients {
        padding: 0 50px;
    }
    .clients__content_3cols {
        padding-left: 0;
    }
    .clients__content_4cols {
        padding-left: 20px;
    }
    .clients__logo_vologdales {
        max-width: 90%;
        margin-top: 15%;
    }
    .clients__logo_biolesprom {
        max-width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 1000px) {
    .clients {
        padding: 0 20px;
    }
    .clients__title {
        margin: 45px 0 45px;
    }
    .clients__content_3cols {
        grid-gap: 30px 10px;
        margin-bottom: 50px;
    }
    
    .clients__content_4cols {
        grid-gap: 40px 10px;
        padding-left: 0;
    }
    .clients__logo_antey {
        margin-top: 5px;
    }
    .clients__logo_vologdales {
        max-width: 100%;
        margin-top: 15%;
    }
    .clients__logo_soldek {
        max-width: 80%;
        margin-top: 15%;
        margin-left: 10%;
    }
    .clients__logo_vtorres {
        margin-top: 0;
    }
    .clients__logo_biolesprom {
        max-width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 550px) {
    .clients__content_3cols {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }
    .clients__content_4cols {
        grid-template-columns: repeat(3, 1fr);
    }
    .clients__link {
        display: flex;
        align-items: center;
    }
    .clients__logo_biolesprom {
        max-width: 100%;
        margin-left: 0;
    }
}

.partners__title {
    margin: 105px 0 55px;
}

.partners__content {
    padding-left: 50px;
}

.partners__line {
    display: flex;
    justify-content: center;
}

.partner-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    cursor: pointer;
    transition: transform 0.2s;
}

.partner-item:hover {
    transform: scale(1.08);
}

.partner-item__img {
    width: 200px;
    max-width: 100%;
}

.partner-item__title {
    font-size: 1.4rem;
    color: #2f3133;
    text-align: center;
    text-decoration: none;
}

.partner-item__img_megafon,
.partner-item__img_foresttank {
    max-width: 70%;
    margin-left: 15%;
}

.partner-item__img_sphere {
    max-width: 85%;
    margin-left: 8%;
}

@media (max-width: 1330px) {
    .partners {
        padding: 0 50px;
    }
    .partners__content {
        padding-left: 0;
    }
    .partner-item {
        margin: 15px;
    }
}

@media (max-width: 1000px) {
    .partners {
        padding: 0 20px;
    }
    .partners__title {
        margin: 35px 0 45px;
    }
}

@media (max-width: 740px) {
    .partners {
        padding: 0 15px;
    }
    .partners__line {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .partner-item {
        margin: 0 0 25px;
    }
}
@media (max-width: 374px) {
    .partners__line {
        display: block
    }
}

.channel__title {
    margin: 40px 0 65px;
}

.channel__content {
    display: flex;
    justify-content: center;
}

.channel__video {
    width: 840px;
    height: 472px;
}

@media (max-width: 1000px) {
    .channel__title {
        margin: 35px 0 55px;
    }
    .channel__video {
        max-width: 560px;
        height: 315px;
    }
}
@media (max-width: 740px) {
    .channel__title {
        margin: 10px 0 45px;
    }
    .channel__video {
        max-width: 373px;
        height: 210px;
    }
}
@media (max-width: 400px) {
    .channel__video {
        max-width: 310px;
        height: 175px;
    }
}


.contacts__title {
    margin: 50px 0 65px;
}

.contacts__info {
    padding: 0 140px;
}

.contacts__item {
    font-size: 1.5rem;
    color: #2f3133;
    margin-bottom: 15px;
}

.contacts__item_phone::before,
.contacts__item_adress::before,
.contacts__item_mail::before {
    font-family: 'FontAwesome';
    content: "";
    color: #2f3133;
    margin-right: 20px;
    font-size: 1.5rem;
}

.contacts__item_phone::before {
    content: "\f095";
}
.contacts__item_adress::before {
    content: "\f041";
}
.contacts__item_mail::before {
    content: "\f003";
}

.contacts__map {
    display: flex;
    justify-content: center;
}

@media (max-width: 1330px) {
    .contacts__info {
        padding: 0;
        text-align: center;
    }
}
@media (max-width: 1000px) {
    .contacts {
        padding: 0 40px;
    }
    .contacts__title {
        margin: 40px 0 45px;
    }
}
@media (max-width: 740px) {
    .contacts {
        padding: 0 20px;
    }
    .clients__title,
    .partners__title,
    .channel__title,
    .news__title,
    .contacts__title {
        font-size: 2.4rem;
    }
}

.feedback__title {
    font-size: 2rem;
    text-align: center;
    margin: 70px 110px 5px;
}

.feedback__subtitle {
    color: #2f3133;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 55px;
}

.feedback__content {
    padding: 0 140px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
}

.name-input,
.phone-input,
.email-input,
.text-input {
    background-color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid #2f3133;
    opacity: 0.51;
    color: #2f3133;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 0 5px 0;
    width: 100%;
    transition: opacity 0.3s;
    margin-bottom: 20px;
}

.name-input:focus,
.phone-input:focus,
.email-input:focus,
.text-input:focus {
    opacity: 1;
    outline: none;
}

.name-input::-webkit-input-placeholder,
.phone-input::-webkit-input-placeholder,
.email-input::-webkit-input-placeholder,
.text-input::-webkit-input-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input::-moz-placeholder,
.phone-input::-moz-placeholder,
.email-input::-moz-placeholder,
.text-input::-moz-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input:-moz-placeholder,
.phone-input:-moz-placeholder,
.email-input:-moz-placeholder,
.text-input:-moz-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input:-ms-input-placeholder,
.phone-input:-ms-input-placeholder,
.email-input:-ms-input-placeholder,
.text-input:-ms-input-placeholder {
    color: #2f3133;
    font-weight: 400;
    transition: opacity 0.3s;
}

.name-input:focus::-webkit-input-placeholder,
.phone-input:focus::-webkit-input-placeholder,
.email-input:focus::-webkit-input-placeholder,
.text-input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.name-input:focus::-moz-placeholder,
.phone-input:focus::-moz-placeholder,
.email-input:focus::-moz-placeholder,
.text-input:focus::-moz-placeholder {
    opacity: 0;
}

.name-input:focus:-moz-placeholder,
.phone-input:focus:-moz-placeholder,
.email-input:focus:-moz-placeholder,
.text-input:focus:-moz-placeholder {
    opacity: 0;
}

.name-input:focus:-ms-input-placeholder,
.phone-input:focus:-ms-input-placeholder,
.email-input:focus:-ms-input-placeholder,
.text-input:focus:-ms-input-placeholder {
    opacity: 0;
}

.form__concent {
    margin: 30px 0;
}

.concent-checkbox {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.consent-label {
    color: #2f3133;
    font-size: 1.2rem;
    font-weight: 400;
}

.consent-link {
    color: #2f3133;
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.2s;
}

.consent-link:hover {
    color: #ffe065;
}

.consent-link:active {
    color: #2f3133;
}

.submit-text {
    font-size: 1.2rem;
}

.feedback__button {
    outline: none;
    cursor: pointer;
    margin: 10px 0 80px;
}

@media (max-width: 1330px) {
    .feedback__content {
        padding: 0;
    }
}
@media (max-width: 1000px) {
    .feedback__title {
        font-size: 1.9rem;
        margin: 55px 0 5px;
    }
    .feedback {
        padding: 0 40px;
    }
}
@media (max-width: 740px) {
    .feedback__title {
        font-size: 1.8rem;
        margin: 40px 0 5px;
    }
    .feedback__subtitle {
        font-size: 1.2rem;
    }
    .feedback {
        padding: 0 20px;
    }
    .feedback__form {
        align-items: center;
    }
}

@media (max-width: 360px) {
    .feedback__title {
        font-size: 1.5rem;
    }
}

.footer {
    padding: 70px 80px 70px 210px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 50px;
    background-color: #2f3133;
}

.footer__text {
    margin-top: 20px;
}

.footer-text__paragraph,
.footer-text__link {
    text-decoration: none;
    color: #787e83;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 300;
}

.footer-text__link {
    transition: color 0.2s;
}

.footer-text__link:hover {
    color: #ffe065;
}

.footer__contacts {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer__title {
    color: #787e83;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.footer-contacts__item {
    color: #787e83;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}


.footer-contacts__item_phone::before,
.footer-contacts__item_adress::before,
.footer-contacts__item_mail::before {
    font-family: 'FontAwesome';
    content: "";
    color: #fff;
    margin-right: 15px;
    font-size: 1.5rem;
}

.footer-contacts__item_phone::before {
    content: "\f095";
}
.footer-contacts__item_adress::before {
    content: "\f041";
    margin-left: 3px;
}
.footer-contacts__item_mail::before {
    content: "\f003";
}

.footer__socialLinks {
    margin-top: 30px;
    display: flex;
}

.footer-links__item {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    font-size: 1.5rem;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s, text-shadow 0.2s;
}

.footer-links__item:hover {
    text-shadow: 2px 3px 6px #373737;
    transform: scale(1.1);
}

.footer-links__item:active {
    transform: scale(1);
    text-shadow: none;
}

.footer-links__item_facebook {
    background-color: #3b5998;
}

.footer-links__item_vk {
    background-color: #5d84ae;
}

.footer-links__item_twitter {
    background-color: #00acee;
}

.footer-links__item_instagram {
    background-color: #5851DB;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
}

.footer-links__item_youtube {
    background-color: #c4302b;
}
/*
.footer__name-input,
.footer__email-input,
.footer__text-input {
    background-color: #2f3133;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffe065;
    color: #787e83;
    font-size: 1.2rem;
    padding: 0 0 5px 0;
    width: 100%;
    transition: opacity 0.3s;
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-weight: 300;
}

.footer__name-input:focus,
.footer__email-input:focus,
.footer__text-input:focus {
    color: #fff;
    outline: none;
}

.footer__name-input::-webkit-input-placeholder,
.footer__email-input::-webkit-input-placeholder,
.footer__text-input::-webkit-input-placeholder {
    color: #787e83;
    font-weight: 300;
    transition: color 0.3s;
}

.footer__name-input::-moz-placeholder,
.footer__email-input::-moz-placeholder,
.footer__text-input::-moz-placeholder {
    color: #787e83;
    font-weight: 300;
    transition: color 0.3s;
}

.footer__name-input:-moz-placeholder,
.footer__email-input:-moz-placeholder,
.footer__text-input:-moz-placeholder {
    color: #787e83;
    font-weight: 200;
    transition: color 0.3s;
}

.footer__name-input:-ms-input-placeholder,
.footer__email-input:-ms-input-placeholder,
.footer__text-input:-ms-input-placeholder {
    color: #787e83;
    font-weight: 200;
    transition: color 0.3s;
}

.footer__name-input:focus::-webkit-input-placeholder,
.footer__email-input:focus::-webkit-input-placeholder,
.footer__text-input:focus::-webkit-input-placeholder {
    color: #fff;
}

.footer__name-input:focus::-moz-placeholder,
.footer__email-input:focus::-moz-placeholder,
.footer__text-input:focus::-moz-placeholder {
    color: #fff;
}

.footer__name-input:focus:-moz-placeholder,
.footer__email-input:focus:-moz-placeholder,
.footer__text-input:focus:-moz-placeholder {
    color: #fff;
}

.footer__name-input:focus:-ms-input-placeholder,
.footer__email-input:focus:-ms-input-placeholder,
.footer__text-input:focus:-ms-input-placeholder {
    color: #fff;
}

.footer__submit {
    cursor: pointer;
}

.footer__submit:active {
    outline: none;
}*/

/*
@media (max-width: 1330px) {
    .footer {
        padding: 70px 60px 70px 70px;
    }
}
@media (max-width: 1200px) {
    .footer {
        padding: 50px 50px 70px 50px;
        grid-gap: 10px 20px;
    }
}
*/
@media (max-width: 1250px) {
    .footer {
        padding: 70px 80px 70px 120px;
    }
}
@media (max-width: 1000px) {
    .footer {
        grid-template-columns: 55% 44%;
        padding: 40px 50px 50px;
        grid-gap: 20px;
    }
}

@media (max-width: 740px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 40px 15px 50px;
    }
    .footer__title {
        text-align: center;
    }
    .footer__text {
        grid-row: 2 / 3;
    }
    .footer__socialLinks {
        justify-content: space-around;
    }
    .footer-links__item {
        padding: 7px;
        font-size: 2.2rem;
        margin-right: 0;
    }/*
    .footer__feedback {
        grid-column: 1 / 2;
    }
    .footer__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__name-input,
    .footer__email-input,
    .footer__text-input {
        max-width: 80%;
    }*/
}

@media (max-width: 360px) {
    .footer-links__item {
        padding: 4px;
        font-size: 2.1rem;
        margin-right: 0;
    }
}





/*СТИЛИ ДЛЯ ГАЛЛЕРЕИ*/

.gallery {
    padding: 0 70px;
}

.gallery__title {
    text-transform: uppercase;
    margin: 37px 0;
}

#lightgallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-row-gap: 15px;
}

.gallery__link {
    text-decoration: none;
    width: 220px;
    height: 220px;
    position: relative;
}

.gallery__image {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.gallery__image-background {
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 0;
    border-bottom: 3px solid #ffe065;
}

.gallery__image-description {
    text-decoration: none;
    font-size: 0.7rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0px;
    text-transform: uppercase;
}

@media (max-width: 1332px) {
    #lightgallery {
        grid-gap: 15px;
        padding: 0 5%;
    }

    .gallery {
        padding: 0;
        
    }

    .gallery__link,
    .gallery__image {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .gallery__link,
    .gallery__image {
        height: 200px;
    }
}

@media (max-width: 1118px) {
    #lightgallery {
        grid-gap: 12px;
        padding: 0 4%;
    }

    .gallery__link,
    .gallery__image {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    #lightgallery {
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 4%;
    }
}

@media (max-width: 854px) {
    #lightgallery {
        grid-gap: 9px;
        padding: 0 3%;
    }

    .gallery__title {
        font-size: 2.3rem;
        margin: 27px 0;
    }

    .gallery__image-background {
        padding: 5px 0;
    }
}

@media (max-width: 767px) {
    #lightgallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 0 5%;
    }
}

@media (max-width: 630px) {
    #lightgallery {
        grid-gap: 8px;
        padding: 0 3%;
    }

    .gallery__link,
    .gallery__image {
        height: 150px;
    }

    .gallery__image-background {
        padding: 4px 0;
    }
}

@media (max-width: 540px) {
    #lightgallery {
        grid-gap: 6px;
        padding: 0 2%;
    }

    .gallery__link,
    .gallery__image {
        height: 140px;
    }

    .gallery__title {
        margin-bottom: 18px;
    }
}

@media (max-width: 426px) {
    .gallery__image-background {
        padding: 2px 0;
    }
}

@media (max-width: 424px) {
    #lightgallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
        padding: 0 3%;
    }

    .gallery__link,
    .gallery__image {
        height: 140px;
    }

    .gallery__title {
        margin-bottom: 18px;
    }
}

/*стили для статей*/

.article {
    background-color: #2f3133;
    display: flex;
    flex-direction: column;
    padding: 0 120px;
}

.article__title-link {
    text-decoration: none;
    margin-top: 15px;
}

.article__title {
    display: inline;
    border-bottom: 2px solid transparent;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    transition: border-bottom 0.2s, color 0.2s;
}

.article__title:hover {
    border-bottom: 2px solid #ffe065;
    color: #ffe065;
}

.article__title:active {
    border-bottom: 2px solid #ffe065;
    color: #fff;
}

.article__text {
    color: #fff;
    font-weight: lighter;
    margin-top: 11px;
}

.article__link {
    font-size: 1.3rem;
    color: #fff;
    padding: 3px 7px 5px;
    border: 2px solid #ffe065;
    border-radius: 8px;
    text-decoration: none;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: lowercase;
    box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.article__link:hover {
    transform: scale(1.03);
    background-color: #ffe065;
    box-shadow: 3px 6px 19px -1px rgba(0,0,0,0.4);
    color: #2f3133;
}

.article__link:active {
    transform: scale(1);
    background-color: #2f3133;
    box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.8);
    color: #fff;
}

.article__author {
    font-size: 0.9rem;
    color: #a7b5c3;
}

@media (max-width: 1290px) {
    .article {
        padding: 0 90px;
    }
}

@media (max-width: 1120px) {
    .article {
        padding: 0 60px 0 80px;
    }
}

@media (max-width: 999px) {
    .article {
        padding: 0 30px 0 55px;
    }
}

@media (max-width: 776px) {
    .article__title {
        font-size: 1.7rem;
    }

    .article__title-link {
        text-align: center;
    }
}

@media (max-width: 570px) {
    .article {
        padding: 0 18px 0 27px;
    }
}

@media (max-width: 460px) {
    .article {
        padding: 0 10px 0 15px;
    }

    .article__title {
        font-size: 1.4rem;
    }
}

/*стили для политики конфиденциальности*/

.padding-privacy {
    padding: 0 100px 0 120px;
}

.privacy__title {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    color: #2f3133;
    margin-top: 45px;
    margin-bottom: 30px;
}

.privacy__text {
    color: #2f3133;
    margin: 15px 0;
    font-size: 1.1rem;
}

.privacy__subtitle {
    color: #2f3133;
    font-size: 2.5rem;
    margin-left: 60px;
    font-weight: 300;
    margin-top: 25px;
}

.privacy__list {
    margin-left: 60px;
}

.privacy__text_last {
    margin-bottom: 80px;
}

@media (max-width: 1145px) {
    .privacy__subtitle {
        font-size: 2.3rem;
        margin-left: 60px;
    }
}

@media (max-width: 1099px) {
    .padding-privacy {
        padding: 0 50px 0 60px;
    }

    .privacy__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 1000px) {
    .padding-privacy {
        padding: 0 40px 0 50px;
    }

    .privacy__list {
        margin-left: 30px;
    }

    .privacy__subtitle {
        margin-left: 40px;
    }
}

@media (max-width: 842px) {
    .padding-privacy {
        padding: 0 25px 0 40px;
    }

    .privacy__title {
        font-size: 2.6rem;
    }

    .privacy__subtitle {
        font-size: 2.1rem;
    }
}

@media (max-width: 739px) {
    .padding-privacy {
        padding: 0 15px 0 24px;
    }

    .privacy__subtitle {
        font-size: 1.7rem;
        margin-left: 30px;
    }

    .privacy__title {
        font-size: 2.3rem;
    }

    .privacy__list {
        margin-left: 22px;
    }
}

@media (max-width: 599px) {
    .privacy__subtitle {
        font-size: 1.5rem;
        margin-left: 0;
        text-align: center;
    }

    .privacy__title {
        font-size: 2.1rem;
        margin-top: 32px;
        margin-bottom: 18px;
    }
}

@media (max-width: 500px) {
    .privacy__subtitle {
        font-size: 1.4rem;
    }

    .privacy__title {
        font-size: 1.9rem;
    }

    .padding-privacy {
        padding: 0 10px 0 20px;
    }
}

@media (max-width: 450px) {
    .privacy__title {
        line-height: 30px;
    }

    .privacy__list {
        margin-left: 13px;
    }
}